.jumbotron {
 background: center center;
 background-size: cover;
}


.top-buffer
{ 
    margin-top:50px; 
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.image img{
    position:absolute;
}

.credit-top {
  position: absolute;
  top: 8px;
  right: 25px;
  color: white;
}

.credit-bottom {
  position: absolute;
  bottom: 8px;
  right: 25px;
  color: white;
}