.jumbotron {
 background: center center;
 background-size: cover;
}


.top-buffer
{ 
    margin-top:50px; 
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.image img{
    position:absolute;
}

.cutoff-bottom{
    width: 100%
}

.credit-top {
  position: absolute;
  top: 8px;
  right: 25px;
  color: white;
}

.credit-bottom {
  position: absolute;
  bottom: 8px;
  right: 25px;
  color: white;
}

.credit-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
    display:none; 
}