---
layout: page2
title: "About"
image: "sanctuary-hut-mass.jpg"
meta: "Formed by uniting eight Chicago parishes and named after the 16th century Black Franciscan, St. Benedict the African is now the only Catholic church in Englewood."
---
<div class="container" id="building">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Church</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <p>The architecture and art of St. Benedict the African Parish are something one does not plan to see and has to see to behold. Here is a rare chance to view ten thousand gallons of holy water and to experience a full immersion baptism.</p> 
        <p>The church building was designed by the renowned architectural firm of Belli & Belli and is one of the very few Catholic churches built in Chicago to serve a predominately African American community. Upon entering the church building one begins to to catch a glimpse of the many surprises inside. Several artistic renderings in sculpted wood, stained glass and original art work welcome and draw one into the building.</p>
    </div>
</div>

<div class="container top-buffer" id="art">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Artwork</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="image">
                <img src="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" alt="St. Benedict the African stained glass window" class="img img-responsive full-width">
            </div>
        </div>
        <div class="col-sm-6">
            <p>In our art there is a record of our beauty and value. We bring and leave it here in order that our church may be assisted in her ministry by a fully grown, functioning, willing and able community who sees Jesus in the center of the circle we make whole and unbroken.</p>
            <p>Exquisite works of art in stained glass, wood carving and painting were commissioned for this space. Additional originals reflecting black spirituality have been added to the collection as a commitment to continue the inspiring of worship. We invite you to see for yourself both online and in person.</p>
        </div>
        <div class="col-sm-6 text-center">
            <a href="{{site.baseurl}}/art"  class="btn btn-primary btn-xl wow tada">View More</a>
        </div>
    </div>
</div>

{% include about-mass-times.html %}

<div class="container top-buffer" id="sacrament">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Adult Faith Formation</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div>
                <img src="{{ site.baseurl }}/img/wooden-cross-slanted-closeup.jpg" alt="Closeup of wooden Christian cross slanted." class="img-responsive">
            </div>
        </div>
        <div class="col-sm-6">
            <p>Learning, understanding, and living our Catholic Christian faith never ends even as we grow old.</p>
            <p>Reinforce your faith further from what you learned since your Confirmation or RCIA class with homilies and writings covering various topics such as the bible, church calendar, and Catholic practices.</p>
        </div>
        <div class="col-sm-6 text-center">
            <a href="{{site.baseurl}}/adult-faith-formation"  class="btn btn-primary btn-xl wow tada">Read More</a>
        </div>
    </div>
</div>

<div class="container top-buffer" id="organizations">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Parish Organizations</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <p>We are a family oriented parish. Parish Organizations extend the family and take responsibility for the upkeep of our parish and the most important task of passing on the faith.</p>
        </div>


		<div class="container">
            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{site.baseurl}}/music">
                      <span class="fa fa-music fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                      <h3>Choir</h3>
                    </a>
                    <p>Many people come to visit St. Benedict the African and return because they have heard the choir. These messengers are indispensable to our celebration of Sunday Eucharist.</p>
                  </div>
                </div>
            </div>


            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{site.baseurl}}/knights-of-peter-claver-ladies-auxiliary">
                      <span class="fa fa fa-chess-knight fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                      <h3>Knights of Peter Claver and Ladies Auxiliary</h3>
                    </a>
                    <p>The Knights of Peter Claver, along with the ladies auxiliary, junior knights and daughters belong to the country wide group of black Catholics who seek to embody the spirit of St. Peter Claver in living their faith.</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa-birthday-cake fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Birthday Club</h3>
                    <p>The Birthday Club welcomes everyone with a birthday! Beyond celebrating what God began with each individual member, the Birthday Club acknowledges many moments in life when a church friend is needed. All fundraising done by this group of willing workers is solely for the parish budget.</p>
                  </div>
                </div>
            </div>
        </div>

		<div class="container">
            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa-female fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Council of Catholic Women</h3>
                    <p>The Catholic Council of Women connects us to the work of Catholic women in the Archdiocese of Chicago and reminds us of the ladies who brought us this far by faith. Currently exploring models of tithing, this group constantly looks for ways to assist with the spiritual development of each of its members in order to insure that our base is always rooted in faith.</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa-male fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Men's Club</h3>
                    <p>The Men’s Club has a long history of making sure that our household is headed by men and women who work together. A part of the aim is to provide relief for those who are hungry and those who are homeless.</p>
                  </div>
                </div>
            </div>


            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa fa-hand-holding-heart fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Ministers of Care</h3>
                    <p>This group of dedicated parishioners does the important work of extending the Eucharist from the Sunday gathering to the homes of those who are ill and unable to join the faith community.  This ministry keeps our homebound parishioners connected to us, reflecting more completely the Body of Christ that we strive to be.  The homebound serve the larger faith community by their prayer for us and with us.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container top-buffer" id="Ministries">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ministries</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">

		<div class="container">
            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                	<span class="fa fa-bullhorn fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Lectors/Proclaimers</h3>
                    <p>Lectors proclaim the Scriptures during the Liturgy of the Word.  This ministry requires the ability to interpret and understand Scripture, and a comfort with public speaking.</p>
					<p><a href="{{ site.baseurl }}/proclaimers" class="btn btn-primary">View the 2020 schedule</a></p>

                  </div>
                </div>
            </div>


            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                	<span class="fa fa fa-cross fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                	<h3>Extraordinary Ministers of Holy Communion</h3>
                    <p>More commonly known as Eucharistic Ministers, these parishioners offer the Body and Blood of Christ during Holy Communion. This ministry is open to all who have received the sacraments of First Communion and Confirmation.</p>
					<p><a href="{{ site.baseurl }}/ministers-of-holy-communion" class="btn btn-primary">View the 2020 schedule</a></p>

                  </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                	<span class="fa fa-microphone fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Commentators</h3>
                    <p>The Commentator’s responsibilities include announcements before Mass, acknowledging and welcoming visitors, and leading the General Intercessions.</p>
                  </div>
                </div>
            </div>
        </div>

		<div class="container">
            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa-hand-holding fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Altar Servers (Acolyte)</h3>
                    <p>Altar Servers offer service to both God and our community by assisting the priest during Mass. This ministry is open to all youth of the parish who have made their First Communion.</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <span class="fa fa-hand-pointer fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                    <h3>Usher</h3>
                    <p>The primary role of the Usher is to foster a spirit of warmth and reverence. Their duties include: seating parishioners, directing communicants in an orderly and reverent fashion, taking up collections and distributing bulletins.</p>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container top-buffer" id="legacy">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Legacy</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Eight parishes formed into two worship communities along geographical lines: St. Justin Martyr, St. Raphael, and Sacred Heart came together at the St. Justin Martyr site.  St. Brendan, Our Lady of Solace, St. Martin, St. Bernard, and St. Carthage came together in a new church built on the site of the 1968-razed St. Bernard church.</p>
            <p>By 1995 the single parish with two worship sites split into two separate parishes (St. Benedict the African West and St. Benedict the African East), reflecting the independent growth and stable Eucharistic communities at each site.</p>
            <p>2016 saw a further evolution of Catholic presence in Englewood, as both parishes formed a single new parish of St. Benedict the African (SBA), with no indicators of west or east.  We are hopeful and strong with the newness of our faith community, and move forward with the confidence, courage, and joy of a people who share faith and faithfulness.</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}/img/exterior-stone.jpg" alt="Front of SBA church stone engraved with names of previously combined parishes.">
            <div class="credit-bottom">Photo by Lauren</div>
        </div>
    </div>
</div>

<div class="container top-buffer" id="saint">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">St. Benedict The African (1526-1589)</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ site.baseurl }}/img/SBA-italy-mural.jpeg" alt="Saint Benedict the African building mural at Palermo Sicily, Italy." class="img-responsive">
        </div>
        <div class="col-sm-6">
            <p>Benedict’s parents were brought from Africa as slaves to Sicily. He was born a slave but was set free in his youth. His temperament was refined and cheerful, despite the racial slurs he suffered from his neighbors. He eventually gave all his possessions to the poor and became a hermit near Palermo, following the rule of Saint Francis.</p>
            <p>When Benedict was forty years old, Pius IV decreed that all such hermits should become members of the Franciscan Order. Benedict entered a friary in Palermo as a lay brother. The friars there appointed him as their superior because of his outstanding virtue, even though he was not a priest. As superior he introduced a stricter observance of the Franciscan Rule and was venerated by all his brethren. He asked to be allowed to return to the kitchen when his term as superior ended. People began coming to see him from all over Sicily for spiritual direction. He became famous for his care for the sick and the hungry.</p>
            <p>He died after a severe illness, at the hour he had foretold. Years after his death, when his body was exhumed it was found incorrupt. His veneration spread throughout Italy, to Spain and Portugal, and even to Latin America.</p>
            <p>His feast day is April 4th.</p>
        </div>
    </div>
</div>
{% include about-getting-to-sba.html %}