---
layout: page2
title: "Art"
jumbotron-image: "portfolio/1.jpg"
permalink: /art
meta: "The parish prides itself in reflecting the look and culture of the Englewood neighborhood with African American architecture and art."
---
<div class="container">
    <p>In our art there is a record of our beauty and value. We bring and leave it here in order that our church may be assisted in her ministry by a fully grown, functioning, willing and able community who sees Jesus in the center of the circle we make whole and unbroken.</p>
</div>


<div class="container top-buffer" id="architecture">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Architecture</h2>
            <hr class="primary">
        </div>
        <div>
            <p>The church building was designed by the renowned architectural firm of Belli & Belli and is one of the very few Catholic churches built in Chicago to serve a predominately African American community. Upon entering the church building one begins to to catch a glimpse of the many surprises inside. Several artistic renderings in sculpted wood, stained glass and original art work welcome and draw one into the building.</p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/sanctuary-hut-1.jpg">
                    <img src="{{ site.baseurl }}/img/sanctuary-hut-1.jpg" class="img-thumbnail" alt="">
                    </a>
                    <div class="credit-bottom">Photo by Lauren</div>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/exterior-door.jpg">
                    <img src="{{ site.baseurl }}/img/exterior-door.jpg" class="img-thumbnail" alt="">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/exterior-stone.jpg">
                    <img src="{{ site.baseurl }}/img/exterior-stone.jpg" class="img-thumbnail" alt="">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptismal-pool-1.jpg">
                    <img src="{{ site.baseurl }}/img/baptismal-pool-1.jpg" class="img-thumbnail" alt="">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptismal-pool-2.jpg">
                    <img src="{{ site.baseurl }}/img/baptismal-pool-2.jpg" class="img-thumbnail" alt="">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container top-buffer" id="art">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Art</h2>
            <hr class="primary">
        </div>
        <div>
            <p>Throughout the building are various stained glass windows crafted by the internationally known designer and artist David Lee Csicsko, as well as inspired wood works of Jerzy Kenar, and magnificent depictions of black life by Jan Spivey-Gilchrist.</p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/portfolio/1.jpg">
                    <img src="{{ site.baseurl }}/img/portfolio/1.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description of artwork</p>
                    </div>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/portfolio/2.jpg">
                    <img src="{{ site.baseurl }}/img/portfolio/2.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description of artwork</p>
                    </div>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/portfolio/3.jpg">
                    <img src="{{ site.baseurl }}/img/portfolio/3.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description of artwork</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3"> 
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/altar-tapestry.jpg">
                    <img src="{{ site.baseurl }}/img/altar-tapestry.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">An inspired 200 pound hand woven tapestry adorns the wall behind the altar and depicts a dancing flame (the spirit of God), choppy waters (daily strife), and the broken body of Christ image as the Bread of Life. One is drawn into the theology of the powerful symbols of the Blood of Christ and the water that came from piercing His side, which reminds us of the waters of baptism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/portfolio/4.jpg">
                    <img src="{{ site.baseurl }}/img/portfolio/4.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description of artwork</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/holy-family-wood-carving.jpg">
                    <img src="{{ site.baseurl }}/img/holy-family-wood-carving.jpg" class="img-thumbnail" alt="">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description of artwork</p>
                    </div>
                </div>
            </div>            
        </div>

    </div>
</div>


<div class="container top-buffer" id="gallery">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ann and Arthur Eisland Art Gallery and Collection</h2>
            <hr class="primary">
        </div>
        <div>
            <p>Ann and Arthur Eiland represent an honorable group of people who pushed past the racist borders in order to accept the invitation of Jesus to be in the house and Family of God. We must not fail to recognize that the faith of these children, whose faith was greater than the fear and hatred of people who challenge the heart of Jesus, carries us in this life and the next one. This gallery will continue to challenge us to walk by faith, not by fear, on our way to church, on our way to heaven.</p>
            <p>The Ann and Arthur Eisland Art Gallery and Collection continues the long standing work of the church that promotes the arts and values the artists as a necessary part of the community. It honors the thirty-year history of St. Benedict the African Parish commissioning and collecting works of art.</p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eisland-gallery1.jpeg">
                    <img src="{{ site.baseurl }}/img/eisland-gallery1.jpeg" class="img-thumbnail" alt="">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eisland-gallery2.jpeg">
                    <img src="{{ site.baseurl }}/img/eisland-gallery2.jpeg" class="img-thumbnail" alt="">
                    </a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eisland-gallery3.jpeg">
                    <img src="{{ site.baseurl }}/img/eisland-gallery3.jpeg" class="img-thumbnail" alt="">
                    </a>
                </div>
            </div>
        </div>
        
        <div class="row mb-3"> 
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eisland-gallery4.jpeg">
                    <img src="{{ site.baseurl }}/img/eisland-gallery4.jpeg" class="img-thumbnail" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eisland-gallery5.jpeg">
                    <img src="{{ site.baseurl }}/img/eisland-gallery5.jpeg" class="img-thumbnail" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container top-buffer" id="more">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">More Art</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container"
    <div class="row">
    {% for post in site.posts %}
    {% if post.tags contains "article" and post.tags contains "art" %}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/{{ post.image }}">
            </a>
              <h4>{{ post.post-date | date: '%B %-d, %Y' }}</h4>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
</div>