---
layout: page2
title: "Art"
image: "tapestry-boat-jesus.jpg"
permalink: /art
meta: "The parish prides itself in reflecting the look and culture of the Englewood neighborhood with African American architecture and art."
---
<div class="container">
    <div class="row">
        <p>In our art there is a record of our beauty and value. We bring and leave it here in order that our church may be assisted in her ministry by a fully grown, functioning, willing and able community who sees Jesus in the center of the circle we make whole and unbroken.</p>
    </div>
</div>

<div class="container top-buffer" id="art">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Art</h2>
            <hr class="primary">
        </div>
        <div>
            <p>Throughout the building are various stained glass windows crafted by the internationally known designer and artist David Lee Csicsko, as well as inspired wood works of Jerzy Kenar, and magnificent depictions of black life by Jan Spivey-Gilchrist.</p>
        </div>
    </div>
</div>

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/san-damiano-cross-african-american.jpeg" data-caption="Crucifix">
                    <img src="{{ site.baseurl }}/img/san-damiano-cross-african-american.jpeg" class="img-thumbnail" alt="Crucifix shaped and modeled after the San Damiano cross with African American figures.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">We do not know the provenance of this crucifix. Its shape clearly is modeled after the San Damiano cross, and it is enculturated for this faith community.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/family-tapestry.jpeg" data-caption="Welcome tapestry designed by Jan Spivey-Gilchrist">
                    <img src="{{ site.baseurl }}/img/family-tapestry.jpeg" class="img-thumbnail" alt="Welcome tapestry depicting family designed by Jan Spivey-Gilchrist.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">The welcome tapestry, designed by Jan Spivey-Gilchrist, is perfectly placed.  Ms. Spivey-Gilchrist has childhood links to the Catholic Church in Englewood, and we are proud to have her work in this space.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/martin-de-porres.jpeg" data-caption="Wooden sculpture of Saint Martin de Porres">
                    <img src="{{ site.baseurl }}/img/martin-de-porres.jpeg" class="img-thumbnail" alt="Wooden sculpture of Saint Martin de Porres with beggar and child">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wooden sculpture of Saint Martin de Porres.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/altar-closeup.jpeg" data-caption="Hand woven altar tapestry">
                    <img src="{{ site.baseurl }}/img/altar-closeup.jpeg" class="img-thumbnail" alt="Hand woven altar tapestry with bread from heaven, water baptism and blood of Christ.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">An inspired 200 pound hand woven tapestry adorns the wall behind the altar and depicts a dancing flame (the spirit of God), choppy waters (daily strife), and the broken body of Christ image as the Bread of Life. One is drawn into the theology of the powerful symbols of the Blood of Christ and the water that came from piercing His side, which reminds us of the waters of baptism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" data-caption="Saint Benedict the African stained glass window">
                    <img src="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" class="img-thumbnail" alt="Saint Benedict the African stained glass window.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko. The window of St. Benedict the African is noteworthy for the Franciscan-charism-representations of nature in his habit, fashioned from Ethiopian glass to honor Benedict’s parental heritage. The Willis Tower and the John Hancock building are part of the background, as are the waters of our Baptismal pool and Lake Michigan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-window-front-door.jpeg" data-caption="Circular window in the front door">
                    <img src="{{ site.baseurl }}/img/stained-glass-window-front-door.jpeg" class="img-thumbnail" alt="Circular window in the front church door with heart.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko and is located at the front door. All of Mr. Csicsko’s windows are connected by the theme and presence of heart.</p>
                    </div>
                </div>
            </div>             

        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-cross.jpg" data-caption="Stained glass window with crucifix">
                    <img src="{{ site.baseurl }}/img/stained-glass-cross.jpg" class="img-thumbnail" alt="Stained glass window of crucifix features Living Cross with wooden beams and heart at center.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko and features a Living Cross.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-window-front-flowers.jpeg" data-caption="Stained glass window with flowers">
                    <img src="{{ site.baseurl }}/img/stained-glass-window-front-flowers.jpeg" class="img-thumbnail" alt="Stained glass window with flowers">
                    </a>
                    <div class="card-body">
                        <p class="card-text">This stained window located by the entrance door is designed by David Csicsko and features flowers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/jesus-and-mary.jpeg" data-caption="Painting of Mary and the child Jesus by Jan Spivey-Gilchrist">
                    <img src="{{ site.baseurl }}/img/jesus-and-mary.jpeg" class="img-thumbnail" alt="Painting of Mary and the child Jesus by Jan Spivey-Gilchrist">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Painting of Mary and the child Jesus by Jan Spivey-Gilchrist.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/saint-benedict-african-bread.jpeg" data-caption="Painting of Saint Benedict the African by Jan Spivey-Gilchrist">
                    <img src="{{ site.baseurl }}/img/saint-benedict-african-bread.jpeg" class="img-thumbnail" alt="Saint Benedict the African picture frame holding loaves of bread.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Painting of Saint Benedict the African holding loaves of bread by Jan Spivey-Gilchrist.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/mary-holding-dead-jesus-tanzania-artist-wooden-statue.jpg" data-caption="Ironwood statue of Mary holding the body of Jesus after the crucifixion (Pieta) was done by an artist in Tanzania (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/mary-holding-dead-jesus-tanzania-artist-wooden-statue.jpg" class="img-thumbnail" alt="Ironwood statue of Mary holding the body of Jesus after the crucifixion (Pieta) was done by an artist in Tanzania.">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">The statue of Mary holding the body of Jesus after the crucifixion (Pieta) was done by an artist in Tanzania, whom we never met. This work was arranged by letter, and the piece had to be brought through customs at O’Hare airport when it was mailed to us. It is made of Ironwood (mti wa mpingo in Swahili) which grows in the southern part of Tanzania. The tree symbolizes courage and firmness.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/holy-family-wood-carving-2.jpeg" data-caption="Holy family wood sculpture of Joseph embracing Mary who is embracing the child Jesus">
                    <img src="{{ site.baseurl }}/img/holy-family-wood-carving-2.jpeg" class="img-thumbnail" alt="Holy family wood sculpture of Joseph embracing Mary who is embracing the child Jesus.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Holy family wood sculpture of Joseph embracing Mary who is embracing the child Jesus. The carving (unknown provenance) depicts the birth of Christ to the Crucifixion.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/thea-bowman-rosa-parks-stained-glass-window.jpeg" data-caption="Stained glass window of Sister Thea Bowman and Rosa Parks">
                    <img src="{{ site.baseurl }}/img/thea-bowman-rosa-parks-stained-glass-window.jpeg" class="img-thumbnail" alt="Stained glass window of Harriet Tubman and Sojourner Truth.">
                    </a>
                    <div class="card-body">
                    <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/harriet-tubman-sojourner-truth-stained-glass-window.jpeg" data-caption="Stained glass window of Harriet Tubman and Sojourner Truth">
                    <img src="{{ site.baseurl }}/img/harriet-tubman-sojourner-truth-stained-glass-window.jpeg" class="img-thumbnail" alt="Stained glass window of Harriet Tubman and Sojourner TruthSupper wood sculpture.">
                    </a>
                    <div class="card-body">
                    <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <p>These four stained glass windows represent four strong black women. Moving from right to left, Sojourner Truth, born in the 1790s, was still alive when Harriet Tubman was born.  Harriet Tubman was still alive when Rosa Parks was born.  All of Sister Thea Bowman’s life was lived within Rosa Park’s lifetime.</p>
            <p>As in all of David Csicsko’s stained glass windows here, you will find a heart in each. Above Sojourner’s head is a shooting star, for she once significantly said, “I’m not going to die.  I’ll go home like a shooting star.”</p>
            <p>Harriet Tubman is depicted in a quilt skirt with the Big Dipper on it.  The theory of such use of a skirt to deliver a message during the Civil War is pretty much now debunked, but supposedly, when Ms. Tubman wore that skirt, there would be an escape that night to the North (the dipper’s right edge leading to the North Star).</p>
            <p>Sister Thea’s window also has a shooting star above her head, for she quoted her sister Sojourner upon learning her cancer was terminal.</p>
        </div>
        


        
        <div class="row">
            <h3 class="text-center">Stations of the Cross</h3>
            <p>All Catholic churches, old and new, have some form of artistic expressions of the Stations of the Cross (Way of the Cross), whether they be paintings, carvings, sculptures, or abstracts. They are representations of Christ's final hours, as he was sentenced and put to death on the cross. This devotion originated from the practice of pilgrims visiting Jerusalem, where Jesus suffered his "Way of the Cross."</p>
            <p>Our Stations are carved in ebony wood with bronze medallions depicting each scene of Jesus' passion. They begin with the Last Supper and end with the life-giving Resurrection, appropriately located next to our beautiful Baptismal pool. In Jesus we die and rise again, for Jesus is our resurrection and our life.</p>
            <p>You will notice that each Station has a ledge with small wood carvings that flow out from the scene.  They invite us into the deep mystery of the passion.</p>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-last-supper.jpeg" data-caption="Station of the cross: the Last Supper">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-last-supper.jpeg" class="img-thumbnail" alt="Station of the cross: the Last Supper wood sculpture.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">The Last Supper wood sculpture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-garden-arrested-sanhedrin-peter-deny.jpeg" data-caption="Station of the cross: agony in the garden, arrest, Sanhedrin, and Peter's denial">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-garden-arrested-sanhedrin-peter-deny.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: agony in the garden, arrest, Sanhedrin, and Peter's denial.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus' agony in the garden, arrest, Sanhedrin questioning, and Peter's denial.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-pilate-scourged.jpeg" data-caption="Station of the cross: Jesus is brought before Pilate and is scourged and crowned">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-pilate-scourged.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Jesus is brought before Pilate and is scourged and crowned.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus being brought before Pilate and being scourged and crowned.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-jesus-is-condemned.jpeg" data-caption="Station of the cross: Jesus is condemned">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-jesus-is-condemned.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture where Jesus is condemned.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of Jesus being condemned.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-crucified-speaks-simon-women.jpeg" data-caption="Station of the cross: Jesus meets Simon & women, is crucified, and speaks from the cross">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-crucified-speaks-simon-women.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Simon and women of Jerusalem, is crucified, and speaks from the cross.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of Jesus meeting Simon and the women of Jerusalem, being crucified, and speaking from the cross.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-heart-pierced-burial.jpeg" data-caption="Station of the cross: Jesus' heart is pierced and is buried">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-heart-pierced-burial.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Jesus' heart is pierced and is buried.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus' heart being pierced and Jesus being buried.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-resurrection.jpeg" data-caption="Station of the cross: the resurrection of Jesus">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-resurrection.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture of the resurrection of Jesus.">
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of the resurrection of Jesus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container top-buffer" id="architecture">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Architecture</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/sanctuary-hut-mass.jpg" data-caption="The inside wooden hut where Mass is celebrated.">
                    <img src="{{ site.baseurl }}/img/sanctuary-hut-mass.jpg" class="img-responsive" alt="Saint Benedict the African wooden sanctuary hut for Catholic Mass celebration with green plants surrounding seats.">
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <p>The church building was designed by the renowned architectural firm of Belli & Belli and is one of the very few Catholic churches built in Chicago to serve a predominately African American community. Upon entering the church building one begins to to catch a glimpse of the many surprises inside. Several artistic renderings in sculpted wood, stained glass and original art work welcome and draw one into the building.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" align="center">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/church-entrance-door-side-view.jpeg" data-caption="The front church doors">
                    <img src="{{ site.baseurl }}/img/church-entrance-door-side-view.jpeg" class="img-thumbnail" alt="SBA front church doors.">
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p>The front doors catch people’s attention immediately. Black walnut figures on stainless steel are in procession to the heart of Christ.  They are all of us, ever at a different point on the journey.  When one enters the church, the single level and wide doors say that everyone is welcome.  There are no barriers to deter even those in wheelchairs or those using canes from joining us.  Truly all are welcome.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptism-pool-bottom-view.jpeg" data-caption="Baptismal pool bottom view">
                    <img src="{{ site.baseurl }}/img/baptism-pool-bottom-view.jpeg" class="img-thumbnail" alt="Saint Benedict the African large baptismal pool">
                    </a>
                </div>
            </div>
            <div class="col-lg-12">
                <p>This is probably the most striking feature of our church. It is in the tradition of the first churches that were built, where the immersion pool was in the back of the building to remind people that it is through the waters of Baptism that one enters the community of believers, and their house of worship. Baptism by immersion was the first way that Christians did baptisms.</p>
                <p>Because they were located in a relatively warm climate, the problem of water that was too cold never became an issue. It was only after the movement expanded north into colder climates, that the difficulties of baptism by immersion became issues, and the resolution of those issues was to allow for pouring water to count for baptism.</p>
                <p>Our baptismal pool has water that flows down the stones that form the sides of our pool. This symbol of flowing or living water is thereby made more obvious for us. With life there is motion. The waters of baptism move across the stones; they refresh the stones just as the waters of baptism refresh and give life to each and every person who is baptized.</p>
                <p>The stones also serve to remind us of the natural world around us, which was created by our loving God and entrusted to our care. The immersion pool forms a substantial body of water. This serves to remind us of God’s immense generosity. God does not do things in a small way. Great is God’s love. Great is God’s tenderness. Great are God’s blessings to us. Great should be our gratitude. Great should be our love. Great should be our service to each other.</p>
                <p>The Baptismal Pool is placed where it is, so that we are constantly being reminded of the Sacrament of Baptism. Particularly when we come into church, as we pass through the flowing waters, we are to remember that water once flowed over our heads and we were brought into the community of faith.</p>
            </div>
        </div>
    </div>
</div>

<div class="container top-buffer" id="eiland">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ann and Arthur Eiland Art Gallery and Collection</h2>
            <hr class="primary">
        </div>
        <div class="col-sm-6">
            <img src="{{ site.baseurl }}/img/eiland-art-poster.jpeg" alt="Artistic picture portrait of Ann and Arthur Eiland" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <p>Ann and Arthur Eiland represent an honorable group of people who pushed past the racist borders in order to accept the invitation of Jesus to be in the house and Family of God. We must not fail to recognize that the faith of these children, whose faith was greater than the fear and hatred of people who challenge the heart of Jesus, carries us in this life and the next one. This gallery will continue to challenge us to walk by faith, not by fear, on our way to church, on our way to heaven.</p>
        </div>
        <div>
            <p>The Ann and Arthur Eiland Art Gallery and Collection continues the long standing work of the church that promotes the arts and values the artists as a necessary part of the community. It honors the thirty-year history of St. Benedict the African Parish commissioning and collecting works of art.</p>
        </div>
    </div>
</div>

<section class="no-padding">
    <div class="wrap">
      <img class="d-block cutoff-bottom" src="{{ site.baseurl }}/img/eiland-art-fundraiser.png" alt="Flyer announcement with art piece of Ann and Arthur Eiland collage">
    </div>
</section>

<div class="container top-buffer" id="more">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Art News</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    {% assign posts = site.posts | sort: 'exp-date' %}
    {% capture now %}{{'now' | date: '%s'}}{% endcapture %}
      {% for post in posts %}
        {% capture date %}{{post.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if date > now %}  
          {% if post.tags contains "art" %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2" align="center">
                  <span class="fa {{ post.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                </div>
                
                <div class="col-sm-10">
                  <h3>{{ post.title }}</h3>
                  <h4>{{ post.post-date | date: '%A, %B %-d, %Y' }}</h4>
                  {{ post.content }}
                </div>
                
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="row">
    {% for post in site.posts %}
    {% if post.tags contains "article" and post.tags contains "art" %}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/{{ post.image }}" alt="article on art image.">
            </a>
              <h4>{{ post.post-date | date: '%B %-d, %Y' }}</h4>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
</div>