---
layout: page2
title: "Art"
jumbotron-image: "wooden-table-with-people-sideways.jpeg"
permalink: /art
meta: "The parish prides itself in reflecting the look and culture of the Englewood neighborhood with African American architecture and art."
---
<div class="container">
    <div class="row">
        <p>In our art there is a record of our beauty and value. We bring and leave it here in order that our church may be assisted in her ministry by a fully grown, functioning, willing and able community who sees Jesus in the center of the circle we make whole and unbroken.</p>
    </div>
</div>


<div class="container top-buffer" id="architecture">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Architecture</h2>
            <hr class="primary">
        </div>
        <div>
            <p>The church building was designed by the renowned architectural firm of Belli & Belli and is one of the very few Catholic churches built in Chicago to serve a predominately African American community. Upon entering the church building one begins to to catch a glimpse of the many surprises inside. Several artistic renderings in sculpted wood, stained glass and original art work welcome and draw one into the building.</p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-4" align="center">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/exterior-door.jpg" data-caption="SBA front church doors (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/exterior-door.jpg" class="img-thumbnail" alt="SBA front church doors.">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p>The front doors catch people’s attention immediately.  Black walnut figures on stainless steel are in procession to the heart of Christ.  They are all of us, ever at a different point on the journey.  When one enters the church, the single level and wide doors say that everyone is welcome.  There are no barriers to deter even those in wheelchairs or those using canes from joining us.  Truly all are welcome.</p>
            </div>
        </div>
    </div>
</div>

<div class="container gallery-container top-buffer">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptismal-pool-3.jpeg" data-caption="Baptismal pool (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/baptismal-pool-3.jpeg" class="img-thumbnail" alt="Saint Benedict the African large baptismal pool">
                    <div class="credit-bottom">Photo by A. Villaverde</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptismal-pool-2.jpg" data-caption="Baptismal pool (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/baptismal-pool-2.jpg" class="img-thumbnail" alt="Saint Benedict the African large baptismal pool">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/baptismal-pool-1.jpg" data-caption="Baptismal pool (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/baptismal-pool-1.jpg" class="img-thumbnail" alt="Saint Benedict the African large baptismal pool">
                    <div class="credit-bottom">Photo by Lauren</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>This is probably the most striking feature of our church. It is in the tradition of the first churches that were built, where the immersion pool was in the back of the building to remind people that it is through the waters of Baptism that one enters the community of believers, and their house of worship. Baptism by immersion was the first way that Christians did baptisms.</p>
            <p>Because they were located in a relatively warm climate, the problem of water that was too cold never became an issue. It was only after the movement expanded north into colder climates, that the difficulties of baptism by immersion became issues, and the resolution of those issues was to allow for pouring water to count for baptism.</p>
            <p>Our baptismal pool has water that flows down the stones that form the sides of our pool. This symbol of flowing or living water is thereby made more obvious for us. With life there is motion. The waters of baptism move across the stones; they refresh the stones just as the waters of baptism refresh and give life to each and every person who is baptized.</p>
            <p>The stones also serve to remind us of the natural world around us, which was created by our loving God and entrusted to our care. The immersion pool forms a substantial body of water. This serves to remind us of God’s immense generosity. God does not do things in a small way. Great is God’s love. Great is God’s tenderness. Great are God’s blessings to us. Great should be our gratitude. Great should be our love. Great should be our service to each other.</p>
            <p>The Baptismal Pool is placed where it is, so that we are constantly being reminded of the Sacrament of Baptism. Particularly when we come into church, as we pass through the flowing waters, we are to remember that water once flowed over our heads and we were brought into the community of faith.</p>
        </div>
    </div>
</div>




<div class="container top-buffer" id="art">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Church Art</h2>
            <hr class="primary">
        </div>
        <div>
            <p>Throughout the building are various stained glass windows crafted by the internationally known designer and artist David Lee Csicsko, as well as inspired wood works of Jerzy Kenar, and magnificent depictions of black life by Jan Spivey-Gilchrist.</p>
        </div>
    </div>
</div>

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/san-damiano-cross-african-american.jpeg" data-caption="Crucifix (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/san-damiano-cross-african-american.jpeg" class="img-thumbnail" alt="Crucifix shaped and modeled after the San Damiano cross with African American figures.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">We do not know the provenance of this crucifix. Its shape clearly is modeled after the San Damiano cross, and it is enculturated for this faith community.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/family-tapestry.jpeg" data-caption="Welcome tapestry designed by Jan Spivey-Gilchrist (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/family-tapestry.jpeg" class="img-thumbnail" alt="Welcome tapestry depicting family designed by Jan Spivey-Gilchrist.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">The welcome tapestry, designed by Jan Spivey-Gilchrist, is perfectly placed.  Ms. Spivey-Gilchrist has childhood links to the Catholic Church in Englewood, and we are proud to have her work in this space.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/martin-de-porres.jpeg" data-caption="Wooden sculpture of Saint Martin de Porres (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/martin-de-porres.jpeg" class="img-thumbnail" alt="Wooden sculpture of Saint Martin de Porres with beggar and child">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wooden sculpture of Saint Martin de Porres.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/altar-tapestry.jpg" data-caption="Hand woven altar tapestry (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/altar-tapestry.jpg" class="img-thumbnail" alt="Hand woven altar tapestry">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">An inspired 200 pound hand woven tapestry adorns the wall behind the altar and depicts a dancing flame (the spirit of God), choppy waters (daily strife), and the broken body of Christ image as the Bread of Life. One is drawn into the theology of the powerful symbols of the Blood of Christ and the water that came from piercing His side, which reminds us of the waters of baptism.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" data-caption="Saint Benedict the African stained glass window (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" class="img-thumbnail" alt="Saint Benedict the African stained glass window.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko. The window of St. Benedict the African is noteworthy for the Franciscan-charism-representations of nature in his habit, fashioned from Ethiopian glass to honor Benedict’s parental heritage. The Willis Tower and the John Hancock building are part of the background, as are the waters of our Baptismal pool and Lake Michigan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-window-front-door.jpeg" data-caption="Circular window in the front door (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/stained-glass-window-front-door.jpeg" class="img-thumbnail" alt="Circular window in the front church door with heart.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko and is located at the front door. All of Mr. Csicsko’s windows are connected by the theme and presence of heart.</p>
                    </div>
                </div>
            </div>             

        </div>
        
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-cross.jpg" data-caption="Stained glass window with crucifix (Photo by Lauren)">
                    <img src="{{ site.baseurl }}/img/stained-glass-cross.jpg" class="img-thumbnail" alt="Stained glass window of crucifix">
                    <div class="credit-top">Photo by Lauren</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">This stained window is designed by David Csicsko and features a Living Cross.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/stained-glass-window-front-flowers.jpeg" data-caption="Stained glass window with flowers (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/stained-glass-window-front-flowers.jpeg" class="img-thumbnail" alt="Stained glass window with flowers">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text">This stained window located by the entrance door is designed by David Csicsko and features flowers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/jesus-and-mary.jpeg" data-caption="Painting of Mary and the child Jesus by Jan Spivey-Gilchrist (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/jesus-and-mary.jpeg" class="img-thumbnail" alt="Painting of Mary and the child Jesus by Jan Spivey-Gilchrist">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Painting of Mary and the child Jesus by Jan Spivey-Gilchrist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center">Stations of the Cross</h3>
            <p>All Catholic churches, old and new, have some form of artistic expressions of the Stations of the Cross (Way of the Cross), whether they be paintings, carvings, sculptures, or abstracts. They are representations of Christ's final hours, as he was sentenced and put to death on the cross. This devotion originated from the practice of pilgrims visiting Jerusalem, where Jesus suffered his "Way of the Cross."</p>
            <p>Our Stations are carved in ebony wood with bronze medallions depicting each scene of Jesus' passion. They begin with the Last Supper and end with the life-giving Resurrection, appropriately located next to our beautiful Baptismal pool. In Jesus we die and rise again, for Jesus is our resurrection and our life.</p>
            <p>You will notice that each Station has a ledge with small wood carvings that flow out from the scene.  They invite us into the deep mystery of the passion.</p>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-last-supper.jpeg" data-caption="Station of the cross: the Last Supper (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-last-supper.jpeg" class="img-thumbnail" alt="Station of the cross: the Last Supper wood sculpture.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">The Last Supper wood sculpture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-garden-arrested-sanhedrin-peter-deny.jpeg" data-caption="Station of the cross: agony in the garden, arrest, Sanhedrin, and Peter's denial (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-garden-arrested-sanhedrin-peter-deny.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: agony in the garden, arrest, Sanhedrin, and Peter's denial.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus' agony in the garden, arrest, Sanhedrin questioning, and Peter's denial.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-pilate-scourged.jpeg" data-caption="Station of the cross: Jesus is brought before Pilate and is scourged and crowned (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-pilate-scourged.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Jesus is brought before Pilate and is scourged and crowned.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus being brought before Pilate and being scourged and crowned.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-jesus-is-condemned.jpeg" data-caption="Station of the cross: Jesus is condemned (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-jesus-is-condemned.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture where Jesus is condemned.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of Jesus being condemned.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-crucified-speaks-simon-women.jpeg" data-caption="Station of the cross: Jesus meets Simon & women, is crucified, and speaks from the cross (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-crucified-speaks-simon-women.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Simon and women of Jerusalem, is crucified, and speaks from the cross.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of Jesus meeting Simon and the women of Jerusalem, being crucified, and speaking from the cross.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-heart-pierced-burial.jpeg" data-caption="Station of the cross: Jesus' heart is pierced and is buried (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-heart-pierced-burial.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture: Jesus' heart is pierced and is buried.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture depicting Jesus' heart being pierced and Jesus being buried.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">          
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/station-of-the-cross-resurrection.jpeg" data-caption="Station of the cross: the resurrection of Jesus (Photo by A. Villaverde)">
                    <img src="{{ site.baseurl }}/img/station-of-the-cross-resurrection.jpeg" class="img-thumbnail" alt="Station of the cross wood sculpture of the resurrection of Jesus.">
                    <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                    <p class="card-text">Wood sculpture of the resurrection of Jesus.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container top-buffer" id="eiland">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Ann and Arthur Eiland Art Gallery and Collection</h2>
            <hr class="primary">
        </div>
        <div>
            <p>Ann and Arthur Eiland represent an honorable group of people who pushed past the racist borders in order to accept the invitation of Jesus to be in the house and Family of God. We must not fail to recognize that the faith of these children, whose faith was greater than the fear and hatred of people who challenge the heart of Jesus, carries us in this life and the next one. This gallery will continue to challenge us to walk by faith, not by fear, on our way to church, on our way to heaven.</p>
            <p>The Ann and Arthur Eiland Art Gallery and Collection continues the long standing work of the church that promotes the arts and values the artists as a necessary part of the community. It honors the thirty-year history of St. Benedict the African Parish commissioning and collecting works of art.</p>
        </div>
    </div>
</div>
<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eiland-gallery1.jpeg" data-caption="Side view of the Eiland Art Gallery and Collection (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/eiland-gallery1.jpeg" class="img-thumbnail" alt="Side view of the Eiland Art Gallery and Collection.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Side view of the Eiland Art Gallery and Collection.</p>
                    </div>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eiland-gallery2.jpeg" data-caption="Side view of the Eiland Art Gallery and Collection (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/eiland-gallery2.jpeg" class="img-thumbnail" alt="Side view of the Eiland Art Gallery and Collection.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Side view of the Eiland Art Gallery and Collection.</p>
                    </div>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eiland-gallery3.jpeg" data-caption="Black Panther cloth art (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/eiland-gallery3.jpeg" class="img-thumbnail" alt="Black Panther cloth art.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Black Panther cloth art.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-dexter-ave-baptist-church.jpeg" data-caption="Melvin King depiction of the 1954 Dexter Avenue Baptist Church (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-dexter-ave-baptist-church.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1954 Dexter Avenue Baptist Churcn.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1954 Dexter Avenue Baptist Church Planning site for the Civil Rights Movement. First church Rev. King pastored.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-montgomery-bus-boycott.jpeg" data-caption="Melvin King depiction of the 1955 Montgomery Bus Boycott (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-montgomery-bus-boycott.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1955 Montgomery Bus Boycott.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1955 Montgomery Bus Boycott.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-a-t-college-sit-in-greensboro.jpeg" data-caption="Melvin King depiction of the 1960 A&T College sit-in in Greensboro, NC (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-a-t-college-sit-in-greensboro.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1960 A&T College sit-in in Greensboro, North Carolina.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1960 A&T College sit-in in Greensboro, North Carolina</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-right-to-vote-campaign.jpeg" data-caption="Melvin King depiction of the 1963 Right to Vote campaign (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-right-to-vote-campaign.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1963 Right to Vote campaign.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1963 Right to Vote campaign.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-march-on-washington-dc.jpeg" data-caption="Melvin King depiction of the 1963 March on Washington DC (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-march-on-washington-dc.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1963 March on Washington DC.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1963 March on Washington DC.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-march-on-selma.jpeg" data-caption="Melvin King depiction of the 1965 March on Selma (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-march-on-selma.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1965 March on Selma, AL.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1965 March on Selma, Alabama.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-memphis-sanitation-strike.jpeg" data-caption="Melvin King depiction of the 1968 Memphis sanitation workers strike (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-memphis-sanitation-strike.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1968 Memphis sanitation workers strike.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1968 Memphis sanitation workers strike.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="ligh'[tbox" href="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-assasination.jpeg" data-caption="Melvin King depiction of the 1968 assassination and collage of events (Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/melvin-king-civil-rights-movement-assasination.jpeg" class="img-thumbnail" alt="Melvin King depiction of the 1968 assassination and collage of events.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                    <div class="card-body">
                        <p class="card-text"><b>Melvin King depiction of the Civil Rights Movement:</b> 1968 assassination and collage of events.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a class="lightbox" href="{{ site.baseurl }}/img/eiland-gallery5.jpeg" data-caption="(Photo by A. Villaverde)">
                        <img src="{{ site.baseurl }}/img/eiland-gallery5.jpeg" class="img-thumbnail" alt="Two black children with father.">
                        <div class="credit-top">Photo by A. Villaverde</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container top-buffer" id="more">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Art News</h2>
            <hr class="primary">
        </div>
    </div>
</div>
<div class="container"
    <div class="row">
    {% for post in site.posts %}
    {% if post.tags contains "article" and post.tags contains "art" %}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/{{ post.image }}">
            </a>
              <h4>{{ post.post-date | date: '%B %-d, %Y' }}</h4>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
</div>