---
layout: page2
title: "Contribute"
image: "station-of-the-cross-last-supper.jpeg"
meta: "It takes financial contributions to sustain the church building and work we do. Please help by donating to the projects and keep the mission of the parish going."
---
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Donate</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="panel-body">
<p>It takes financial contributions to sustain the church building and work we do. Please help by donating to the projects and keep the mission of the parish going.</p>
<p><i>You will be redirected to the GiveCentral website, an online donation tool, that allows the parish to fundraise more efficiently and securely.</i></p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <a href="https://www.givecentral.org/location/69/event/689" target="_blank">
            <div class="panel-body">
                <h4 class="text-center">Sunday Giving</h4>
                <img class="img-thumbnail center-block" src="{{ site.baseurl }}/img/african-collection-basket-closeup.jpeg" alt="African style baskets used for the tithe collection during mass.">
            </a>
                <p class="card-text">Please consider signing up for online contribution for your weekly tithing. It's secure, convenient, and easy.</p>
            </div>
            </a>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="panel panel-default">
            <a href="https://www.givecentral.org/location/69/event/9556" target="_blank">
            <div class="panel-body">
                <h4 class="text-center">Father Augustus Tolton</h4>
                <img class="img-thumbnail center-block" src="https://upload.wikimedia.org/wikipedia/commons/2/2b/AugustineTolton.jpg" alt="Vintage headshot of Father Augustus Tolton wearing a biretta.">
            </a>
                <p class="card-text">
                    Help us support the cause for canonization for the first recognized American diocesan priest of African descent. Let us support the Sainthood of a past Chicago and Illinois priest.
                </p>
            </div>
            </a>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <a href="https://www.givecentral.org/location/69/event/2871" target="_blank">
            <div class="panel-body">
                <h4 class="text-center">Other Donations</h4>
                <img class="img-thumbnail center-block" src="{{ site.baseurl }}/img/jesus-cross-uncrucified.jpeg" alt="Display of money.">
            </a>
                <p class="card-text">
                    Any one-time contribution amount no matter how small helps in keeping the church alive.
                </p>
            </div>
            </a>
        </div>
    </div>
    
</div>
<div class="panel-body">
    <p>View more of our other fundraising opportunities you can support at our <a href="https://www.givecentral.org/location/69/allevents" target="_blank">GiveCentral</a> page.</p>
</div>


<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Volunteer</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="panel-body">
<p>Saint Benedict the African also welcomes your gift of time and talents. Please contact us if you can support the church in other ways.</p>
</div>

{% assign posts = site.posts | sort: 'exp-date' %}
{% capture now %}{{'now' | date: '%s'}}{% endcapture %}
  {% for post in posts %}
    {% capture date %}{{post.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if date > now %}  
      {% if post.tags contains "volunteer" %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2" align="center">
              <span class="fa {{ post.fawe }} fa-5x"></span>
            </div>
            
            <div class="col-sm-10">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.post-date | date: '%A, %B %-d, %Y' }}</h4>
              {{ post.content }}
            </div>
            
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}