---
layout: page-basic
title: "Englewood"
subtitle: "St. Benedict the African. The Catholic church in Englewood."
meta: "As the Catholic church in Englewood, St. Benedict the African is "
---
<section class="no-padding">
    <div class="cropped">
        <img class="img-fluid" src="{{ site.baseurl }}/img/englewood-3.jpg" alt="Englewood Chicago wall painting art">
        <div class="text_over_image_low">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<div class="container top-buffer">
<p>As the Catholic church in Englewood, St. Benedict the African is committed to highlighting the community which it resides in and the city at large. This includes the art, people, businesses. <b>Community</b>.</p>
</div>

<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Spotlighted Organizations</h2>
            <hr class="primary">
        </div>
    </div>
	
	<div class="m-3">	
		<div class="row">
			{% for datas in site.data.englewood-org %}
			<div class="p-2 col-lg-4 col-md-6 col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="card h-100">
							<div class="card-body">
								<img class="card-img-top img-fluid center-block img-thumbnail" src="{{datas.img}}" alt="{{datas.imgalt}}">
								<p class="card-text">{{ datas.text | truncatewords:75 }}</p>
								<div class="text-center"><a class="btn btn-primary" href="{{ datas.url }}" target="_blank">Learn More</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="container top-buffer" id="podcast">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Friday Goodness Podcast</h2>
            <hr class="primary">
        </div>
    </div>
	<p>Tune in to our "Friday Goodness" podcast where Ms. Susan interviews local entrepreneurs and organizations in the Englewood and Chicago area.</p>
	<iframe src="https://www.listennotes.com/podcasts/brown-ambition-mandi-woodruff-and-tiffany-f39F1YXI-8r/embed/" height="600px" width="100%" style="width: 1px; min-width: 100%;" frameborder="0" scrolling="no" loading="lazy"></iframe>
</div>

<div class="container top-buffer" id="news">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Community Calendar</h2>
            <hr class="primary">
        </div>
    </div>

    <div class="row">
	{% assign data = site.data.announce | sort: 'post-date' %}
	{% capture now %}{{'now' | date: '%s'}}{% endcapture %}

	{% for entry in data %}
		{% capture date %}{{entry.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
		{% if date > now %}
			{% if entry.title contains "Friday Goodness" %}
			<div class="panel panel-default" id="{{ entry.title }}">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2" align="center">
							<span class="fa {{ entry.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
						</div>
						<div class="col-sm-10">
							<h3>{{ entry.title }}</h3>
							<h4>{{ entry.post-date | date: '%A, %B %-d, %Y' }}</h4>
							<p><b>{{ entry.time }}</b></p>
							<p>{{ entry.description }}</p>
							{% if entry.zoomid != null %}
							<p class="text-danger"><b>Meeting ID</b>: {{ entry.zoomid }}
							<br>
							<b>Passcode</b>: {{ entry.zoompw }}
							</p>
							{% endif %}
							{% if entry.fb == "Yes" %}
							<p>
								You can also view Live through our <a href="https://www.facebook.com/SBAParish" target="_blank"><span class="fab fa-facebook fa-2x wow flash" data-wow-delay="5s"></span>acebook page</a>.	
							</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		{% endif %}
	{% endfor %}
    </div>
	
	<div class="row">
		{% for datas in site.data.englewood-ad %}
		<div class="container">
			<a href="{{datas.link}}" target="_blank">
			<img class= "img-fluid center-block img-thumbnail" src="{{datas.img}}" alt="{{datas.alt}}">	
			</a>
		</div>
		{% endfor %}
	</div>
</div>