---
layout: page-basic
permalink: /knights-of-peter-claver-ladies-auxiliary
meta: "The Knights of Peter Claver, Inc. is the largest historically African-American Catholic lay organization in the United States. The Order is named for St. Peter Claver, the Spanish Priest."
---
<div id="OutsideAd" class="carousel slide" data-ride="carousel" data-interval="4000">
  <div class="carousel-inner">
    <div class="item active">
      <img class="d-block img-fluid center-block" src="{{ site.baseurl }}/img/kpc-junior-knights-daughters-sba.jpeg" alt="Children of the Junior Knights of Peter Claver">
    </div>
    <div class="item ">
      <img class="d-block img-fluid center-block" src="{{ site.baseurl }}/img/kpc-presenting-cardinal-cupich.jpeg" alt="Cardinal Cupich with Knights of Peter Claver">
    </div>
    <div class="item ">
      <img class="d-block img-fluid center-block" src="{{ site.baseurl }}/img/kpc-pulpit-cardinal-cupich.jpeg" alt="Caridnal Cupich at podium with Knights of Peter Claver">
    </div>
    <div class="item ">
      <img class="d-block img-fluid center-block" src="{{ site.baseurl }}/img/kpc-reading-cardinal-cupich.jpeg" alt="Caridnal Cupich speaking with Knights of Peter Claver">
    </div>
  </div>
</div>





<div class="container top-buffer" id="knights">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Knights of Peter Claver</h2>
            <hr class="primary">
        </div>
        <div class="container">
            <blockquote class="blockquote">
            <p>The Knights of Peter Claver, Inc. is the largest historically African-American Catholic lay organization in the United States. The Order is named for St. Peter Claver, the Spanish Priest who ministered to African slaves.</p>
            <p>Our purpose is to render service to God and His Holy Church, render aid and assistance to the sick and disabled, and promote social and intellectual association among our members.</p>
            <footer  class="blockquote-footer">Knights of Peter Claver website</footer>
            </blockquote>
        </div>
    </div>
</div>


<div class="container top-buffer" id="ladies">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">KPC Ladies Auxiliary</h2>
            <hr class="primary">
        </div>
        <div class="container">
            <blockquote class="blockquote">
            <p>In 1926, under the leadership of the KPC National Council, we answered the call to organize and establish the Knights of Peter Claver, Ladies Auxiliary. And so, it was over 85 years ago that the National Council recognized local courts to form the Knights of Peter Claver Ladies Auxiliary. A tree was planted that has now grown into a forest of approximately 11,000 Ladies.</p>
            <footer  class="blockquote-footer">Knights of Peter Claver website</footer>
            </blockquote>
        </div>
    </div>
</div>


<div class="container top-buffer" id="news">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">KPC News</h2>
            <hr class="primary">
        </div>
    </div>
</div>

<div class="container">
{% assign posts = site.posts | sort: 'exp-date' %}
{% capture now %}{{'now' | date: '%s'}}{% endcapture %}
  {% for post in posts %}
    {% capture date %}{{post.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if date > now %}  
      {% if post.tags contains "kpc" %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2" align="center">
              <span class="fa {{ post.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
            </div>
            
            <div class="col-sm-10">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.post-date | date: '%A, %B %-d, %Y' }}</h4>
              {{ post.content }}
            </div>
            
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

<div class="row">
{% for post in posts %}
{% if post.tags contains "article" and post.tags contains "kpc" %}
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h3>{{ post.title }}</h3>
          <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/{{ post.image }}" alt="article image">
        </a>
          <h4>{{ post.post-date | date: '%B %-d, %Y' }}</h4>
          {{ post.excerpt }}
          <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>

<div class="container">
    <p>View more events happening at St. Benedict the African on the <a href="{{site.baseurl}}/announcement">Announcement page</a></p>    
</div>