---
layout: post
image: "choir-banner.jpeg"
permalink: /music
meta: "At Saint Benedict the African, the choir leads the church in praise during the Mass. The aim is to inspire everyone to participate in musical prayer through."
---
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">The Choir</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
      <p>At Saint Benedict the African, the choir leads the church in singful praise during the Mass. St. Augustine alerted “he who sings prays twice!” It’s in the singing. Some of our prayer needs expression that words alone cannot express.</p>
      <p>We use to hear or talk about a low Mass verses a high Mass. The difference is in the singing, the more singing of the prayers, the “higher” the Mass. The greater the praise! The more perfect the unity and the one voice of the church speaking, I mean SINGING PRAYER to God!</p>
        {% include choir-carousel.html %}
        <br>
      <p>The celebrant sets the tone. The celebrant calls the assembly to worship and calls for the particular prayer at the appropriate time during the liturgy. Clearly this is done best with singing.</p>
      <p>The choir takes it higher. The choir helps us most of all with the parts of the Mass, those prayers that are sung to accompany the liturgical action.</p>
      <p>It’s tough to be a good choir because people like to be entertained. All choirs struggle to make it clear that there is a profound difference between putting on a concert and assisting the congregation with praying together.</p>
      <p>It’s tough to be a good congregation because we have to assist one another with the discipline of following the cross and looking to the altar, especially when some ONE is singing our favorite song.</p>
      <p>It’s easy to get one person to sing a good song. It takes our all to sing to the Lord.</p>
    </div>
	<div class="row">
  		{% include youtube-playlist.html %}
	</div>
</div>

<div class="container top-buffer" id="news">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Music News</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
    {% assign posts = site.posts | sort: 'exp-date' %}
    {% capture now %}{{'now' | date: '%s'}}{% endcapture %}
      {% for post in posts %}
        {% capture date %}{{post.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if date > now %}  
          {% if post.tags contains "music" %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2" align="center">
                  <span class="fa {{ post.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
                </div>
                
                <div class="col-sm-10">
                  <h3>{{ post.title }}</h3>
                  <h4>{{ post.post-date | date: '%A, %B %-d, %Y' }}</h4>
                  {{ post.content }}
                </div>
                
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="row">
    {% for post in posts %}
    {% if post.tags contains "article" and post.tags contains "music" %}
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h3>{{ post.title }}</h3>
              <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/{{ post.image }}" alt="article image">
            </a>
              <h4>{{ post.post-date | date: '%B %-d, %Y' }}</h4>
              {{ post.excerpt }}
              <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
<div class="panel-body">
    <p>View more events happening at St. Benedict the African on the <a href="{{site.baseurl}}/announcement">Announcement page</a></p>    
</div>
