---
layout: page2
title: "On Time God Online"
image: "sanctuary-hut-mass.jpg"
meta: "Thank you for deciding to virtually join us for church at St. Benedict the African. Due to the temporary parish closure stemming from COVID-19 but the need to continue celebrating church as community, St. Benedict the African has decided to use the Zoom video conference platform to bring the church from the parish building to you."
---
<h2 class="section-heading text-center">Online Church</h2>
<hr class="primary">

<p>Thank you for deciding to join us virtually for church at St. Benedict the African. Due to the temporary parish closure stemming from COVID-19 but the need to continue celebrating church as community, St. Benedict the African has decided to use the Zoom video conference platform to <b>bring the church from the parish building to you</b>.</p>

<p>We will be transmitting video and audio of Mass, prayer services, bible study, and more which you can connect to with your mobile device or landline telephone. We welcome you to join a video conference session where you can see the host of the session along with the other participants. You can choose to activate or not activate your camera or microphone when connecting. <b><i>If your device does not have video capabilities, you can still listen in through audio only</i></b>.</p>

<h2 class="section-heading text-center">Upcoming Events</h2>
<hr class="primary">
{% include announce.html %}


<h2 class="section-heading text-center">Calling In</h2>
<hr class="primary">

<p>If you're calling from a landline or non-smartphone, dial 312.626.6799 and enter the Meeting ID then Passcode when prompted. You will be able to listen in once a connection is established.</p>

<h2 class="section-heading text-center">Before Connecting</h2>
<hr class="primary">

<p>The following steps are for a video-enabled device:</p>

<p>Ahead of time, download <a href="https://www.zoom.us/download" target="_blank">Zoom</a>.</p>


<p>You're likely to have the best experience on a tablet or laptop, but you're able to download an app on your smartphone as well.</p>

<p>On the day of, either click on the meeting link (<a href="https://bit.ly/SBAChicago" target="_blank">https://bit.ly/SBAChicago</a>) or enter the meeting ID with passcode after loading the app.</p>

<p>You will be given the choice of allowing access to your camera and microphone. If you choose to decline either, others will not be able to see you and/or you will not be heard.</p>

<h2 class="section-heading text-center">Once Connected</h2>
<hr class="primary">

<p><b>If you're on a computer</b>, there are two view options, which you can control at the top right of the screen. "Speaker View" will have the person speaking with the biggest video, in this case, the host of the session. The other option is "Gallery View" which allows you to see everyone who is participating, Brady Bunch style.</p>

<p><b>If you're on a mobile device</b>, you will be able to swipe left or right to determine the best viewing option. The default view may be an alternating video display of whoever is currently speaking. By swiping to the side, you can change the view to see everyone who is participating.</p>

<p>Our default will be to have everyone on the call muted, as there will be many people, some with background noise, in order to maximize everyone's experience. If you'd like to raise an issue, or contribute an intention, please utilize the chat function, which you can access through the bottom right of your screen.</p>

<p><b>Please note</b> that given that we expect a number of people to join us, <b>you may experience the video or audio feed as choppy at times</b>, this is normal given the streaming capacity of such a large group.</p>


<h2 class="section-heading text-center">Recent Sessions</h2>
<hr class="primary">
{% include zoom-video.html %}
{% include pray.html %}
{% include articles.html %}
{% include ads.html %}