<div class="container top-buffer" id="mass">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Mass Schedule</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Currently the parish doors are closed to the public but you can still join us virtually for Sunday Mass and weekday events!
			</p>
			<p class="text-center">
	            <a href="{{site.baseurl}}/zoom"  class="btn btn-primary btn-xl wow tada">Learn More</a>				
			</p>
        </div>

        <div class="col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}/img/church-entrance-door-side-view.jpeg" alt="Front of Saint Benedict the African Catholic church steel door with human figurines walking procession.">
        </div>
    </div>
</div>