<div class="container top-buffer" id="mass">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Mass Schedule</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p><b>Holy Days of Obligation:</b> 9:30 a.m.</p>
            <p>	<b>Sundays:</b> 9:30 a.m.
				<br><i>(Rosary prayed at 8:45 a.m.)</i>
			</p>
			<p>This Sunday's Proclaimers will be Josephine Atoyebi and Shawnece Wilson.</p>
			<p><a href="{{ site.baseurl }}/proclaimers"><i>View the full schedule of Proclaimers</i></a>.</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}/img/church-entrance-door-side-view.jpeg" alt="Front of Saint Benedict the African Catholic church steel door with human figurines walking procession.">
        </div>
    </div>
</div>