<div class="container top-buffer" id="mass">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Mass Schedule</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p><b>Sundays:</b> 9:30 a.m.</p>
            <p><b>Holy Days of Obligation:</b> 9:30 a.m.</p>
            <p><b>Wednesdays & Thursdays*:</b> 3:00 p.m. 
            <br>[*In the second floor Chapel at <a href="https://goo.gl/maps/VMTADD89NDgcZSau5" >St. Bernard Hospital</a>]</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}/img/exterior-door.jpg" alt="Front of Saint Benedict the African Catholic church steel door with human figurines walking procession.">
            <div class="credit-bottom">Photo by Lauren</div>
        </div>
    </div>
</div>