<section>
    <div class="container">
            
        <h2>Our Legacy</h2>
        <p>
          Eight parishes formed into two worship communities along geographical lines: St. Justin Martyr, St. Raphael, and Sacred Heart came together at the St. Justin Martyr site.  
        </p>
        <p>
          St. Brendan, Our Lady of Solace, St. Martin, St. Bernard, and St. Carthage came together in a new church built on the site of the 1968-razed St. Bernard church.  
        </p>
        <p>
          By 1995 the single parish with two worship sites split into two separate parishes (St. Benedict the African West and St. Benedict the African East), reflecting the independent growth and stable Eucharistic communities at each site.  
        </p>
        <p>  
          2016 saw a further evolution of Catholic presence in Englewood, as both parishes formed a single new parish of St. Benedict the African, with no indicators of west or east.  We are hopeful and strong with the newness of our faith community, and move forward with the confidence, courage, and joy of a people who share faith and faithfulness.
        </p>
        
        <h2>Our Church</h2>
        <p>
            The church building was designed by the renowned architectural firm of Belli & Belli and is one of the very few Catholic churches built in Chicago to serve a predominately African American community. Upon entering the church building one begins to to catch a glimpse of the many surprises inside. Several artistic renderings in sculpted wood, stained glass and original art work welcome and draw one into the building.
        </p>
        
        
        <h2>St. Benedict The African (1526-1589)</h2>
        <p>
            Benedict’s parents were brought from Africa as slaves to Sicily. He was born a slave but was set free in his youth. His temperament was refined and cheerful, despite the racial slurs he suffered from his neighbors. He eventually gave all his possessions to the poor and became a hermit near Palermo, following the rule of Saint Francis.
    
            When Benedict was forty years old, Pius IV decreed that all such hermits should become members of the Franciscan Order. Benedict entered a friary in Palermo as a lay brother. The friars there appointed him as their superior because of his outstanding virtue, even though he was not a priest. As superior he introduced a stricter observance of the Franciscan Rule and was venerated by all his brethren. He asked to be allowed to return to the kitchen when his term as superior ended. People began coming to see him from all over Sicily for spiritual direction. He became famous for his care for the sick and the hungry.
    
            He died after a severe illness, at the hour he had foretold. Years after his death, when his body was exhumed it was found incorrupt. His veneration spread throughout Italy, to Spain and Portugal, and even to Latin America.
    
            His feast day is April 4th.
        </p>
    </div>

</section>