<section class="bg-secondary" id="additional">

<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Additional Resources</h2>
        <hr class="dark">
    </div>
</div>

<div class="container">
    <p class="text-center text-muted"><i>When clicked you will be redirected to another website</i></p>
</div>


<div id="OutsideAd" class="carousel slide" data-ride="carousel" data-interval="8000">
  <div class="carousel-inner">

    <div class="item active">
        <div class="containter">
            <h3 class="text-center">Archdiocesan Celebration of the Eucharist</h3>
            <h4 class="text-center">with Cardinal Blase Cupich</h4>
            <div class="row">
                <div class="col-sm-4" align="center">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Augustus_Tolton.jpg" alt="Father Augustus Tolton black and white picture in priest vestments">
                </div>
                <div class="col-sm-8">
                    <h4><b>St. Philip Neri</b></h4>
                    <b>Monday, October 14, 2019</b>
                    <br><b>7:30 pm</b>
                    <br><b>2132 East 72nd Street</b>
                    <br><b>Chicago, IL 60646</b>
                    <p>All are invited to celebrate Pope Francis' declaration of Father Augustus Tolton as "venerable" with a Mass of Thanksgiving celebrated by Cardinal Blase J. Cupich.</p>
                    <p>Secured parking is only available at the following locations. Shuttle buses will be leaving each parking lot at 6 p.m. and 6:30 p.m. in order to arrive on time for the Mass.</p>
                    <ul>
                        <li>7215-7219 South Exchange</li>
                        <li>9015 South Harper Avenue (<i>St. Katharine Drexel Parish Parking Lot</i>)</li>
                        <li>7851 South Jeffery Avenue (<i>Our Lady of Peace Parish Parking Lot</i>)</li>
                    </ul>
                    <p><b>Contact St. Benedict the African as soon as possible if you would like to ride a bus from our Parish.</b></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="item">
      <a href="https://accw.archchicago.org/events" target="_blank">
        <h3 class="text-center">ACCW Fall Assembly Breakfast</h3>
      </a>
      <h4 class="text-center"><b>October 19,2019</b></h4>
      <img class="d-block img-fluid center-block" src="https://pbs.twimg.com/profile_images/817123075179196416/hC_jw0fO_400x400.jpg" alt="Archdiocese of Chicago Catholic church logo.">
    </div>    

    <div class="item">
      <a href="https://www.communitycuplift.com" target="_blank">
        <h3 class="text-center">Crowd Funding-Volunteering App</h3>
      </a>
      <div class="text-center">
        <img src="{{ site.baseurl }}/img/cuplift1.png" alt="Community Cuplift business card with contact information">
        <img src="{{ site.baseurl }}/img/cuplift2.png" alt="Community Cuplift slogan and description">
      </div>
    </div>

    <div class="item">
      <a href="https://catholicmasstime.org/" target="_blank">
        <h3 class="text-center">Catholic Mass Times</h3>
      </a>
      <h4 class="text-center"><b>Search Mass times and Catholic churches near you</b></h4>
      <img class="d-block img-fluid center-block bg-dark" src="https://catholicmasstime.org/static/img/logo_light.png" alt="Catholic Mass Times logo">
    </div>
    
    <div class="row">
      <div class="col-xs-6">
        <a class="carousel-control-prev" href="#OutsideAd" role="button" data-slide="prev">
          <span class="fa fa-chevron-left fa-3x pull-right" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="col-xs-6">    
        <a class="carousel-control-next" href="#OutsideAd" role="button" data-slide="next">
          <span class="fa fa-chevron-right fa-3x pull-left" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  
  </div>
</div>
</section>