<section class="bg-purple" id="alert">
    <div class="text-center text-faded">
		<h2>Lenten 2020 Schedule</h2>
		<hr class="light">
    </div>
	<div class="container text-faded">		
		<h4>
			<li>The church will be open daily from 12-6 p.m. for personal prayer.</li>
			<br>
			<li>Mass will be celebrated every Wednesday at 12:30 p.m. for communal prayer.</li>
			<br>
			<li>Stations of the Cross are prayed on Friday at noon.</li>
		</h4>
		<br>
		<p>Any and all parishioners are invited to schedule a prayer service for family, friends, neighbors, "whom so ever will, let him come" with you.</p>
	</div>
</section>