{% assign posts = site.posts | sort: 'exp-date' %}
{% capture now %}{{'now' | date: '%s'}}{% endcapture %}
  {% for post in posts %}
    {% capture date %}{{post.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if date > now %}  
      {% if post.tags contains "event" %}
      <div class="panel panel-default" id="{{ post.title }}">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2" align="center">
              <span class="fa {{ post.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
            </div>
            
            <div class="col-sm-10">
              <h3>{{ post.title }}</h3>
              <h4>{{ post.post-date | date: '%A, %B %-d, %Y' }}</h4>
              {{ post.content }}
              <h5><a href="{{ site.baseurl }}/{{ post.txt }}" class="badge badge-default">{{  post.label }}</a></h5>
            </div>
            
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}