{% assign data = site.data.announce | sort: 'post-date' %}
{% capture now %}{{'now' | date: '%s'}}{% endcapture %}

<div class="row mb-3">
{% for entry in data %}
	{% capture date %}{{entry.exp-date | date: '%s' | plus: 0 }}{% endcapture %}
	{% if date > now %}
		<div class="col-lg-4 col-sm-12 p-1">
			<div class="border bg-black p-3">
				<div class="row m-2 text-white">
					<div class="col-7 fs-4 text-uppercase text-start">
						{{ entry.post-date | date: '%a %m/%d' }}
					</div>
					<div class="col-5 fs-4 text-uppercase text-end">
						{{ entry.time }}
					</div>
				</div>
				<div class="row align-items-center px-2 p-3 bg-white">
					<div class="col-4 text-center text-wrap">
						<span class="fa {{ entry.fawe }} fa-5x wow flipInX" data-wow-duration="5s" data-wow-iteration="10"></span>
					</div>
					<div class="col-7 text-center text-wrap">
						<h3 class="fs-5">{{ entry.title }}</h3>
					</div>
				</div>

				<div class="row align-items-center p-2 bg-white">
					<div class="col-12">
						<p>{{ entry.description }}</p>

						{% if entry.zoomid == 89415895742 %}
						<b class="text-danger">Join Now:</b> <a href="https://bit.ly/SBAChicago" class="text-decoration-none" target="_blank">https://bit.ly/SBAChicago</a>
						{% endif %}

						{% if entry.zoomid != null %}
							<p class="text-danger"><b>Meeting ID</b>: {{ entry.zoomid }}
							<br>
							<b>Passcode</b>: {{ entry.zoompw }}
							</p>
						{% endif %}
						
						{% if entry.txt != null %}
							<span><a href="{{ site.baseurl }}/{{ entry.txt }}" class="badge bg-secondary text-decoration-none">{{  entry.label }}</a></span>
						{% endif %}

						{% if entry.fb == "Yes" %}
							<p>View live on <a href="https://www.facebook.com/SBAParish" class="text-decoration-none" target="_blank"><span class="fab fa-facebook fa-2x wow flash" data-wow-delay="5s"></span> Facebook</a>.</p>
						{% endif %}
					</div>
				</div>

			</div>
		</div>
	{% endif %}
{% endfor %}
</div>