<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Articles</h2>
            <hr>
        </div>
    </div>
</div>
<div id="ArticleID" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="item active">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2020/first-communion-mass-celebration">
                      <h3>Faithful to Communion</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/first-communion-children-altar-mass.jpg" alt="children dressed in white approaching Catholic Mass altar in preparation of first communion">
                    </a>
                      <h4>March 8, 2020</h4>
                        <p>Today we celebrated the first communion of Chimamanda, Henry, and Olivia, and I want to highlight the following.</p>
                      <a href="{{ site.baseurl }}/announcement/2020/first-communion-mass-celebration" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2020/lenten-reminders">
                      <h3>Lent 2020: A Few Reminders</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/sanctuary-hut-mass.jpg" alt="Inside of church of sanctuary hut with vegetation plants around">
                    </a>
                      <h4>March 1, 2020</h4>
                        <p>It might be more accurate to say that there is the “forty day fast within Lent.” Historically, Lent has varied from a week to three weeks to the present configuration of 46 days. The forty day fast, however, has been more stable.</p>
                      <a href="{{ site.baseurl }}/announcement/2020/lenten-reminders" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2020/black-history-is-catholic-history">
                      <h3>Black history is Catholic history</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img//negro-history-week-st-augustine-school-oblate-sisters.jpg" alt="Black and white 1946 file photo of students at St. Augustine School led by the Oblate Sisters of Providence">
                    </a>
                      <h4>February 5, 2020</h4>
                        <p>In 1949, famed Harlem Renaissance writer Langston Hughes celebrated Negro History Week (the precursor to Black History Month) with members of the Oblate Sisters of Providence and their students at the all black and Catholic St. Alphonsus School in Wilson, North Carolina.</p>
                      <a href="{{ site.baseurl }}/announcement/2020/black-history-is-catholic-history" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="item">
        <div class="container">


            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2020/jesus-christ-charge-for-new-year-to-parish">
                      <h3>Charge for a New Year</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/family-tapestry.jpeg" alt="Tapestry of father, mother, daughters and son heading to church">
                    </a>
                      <h4>January 5, 2020</h4>
                        <p>It is a new year, a time to look back and reflect, to look ahead and rethink some things and make decisions. Today in this beginning of the new year I want to speak of a charge to us, the people of God of St. Benedict the African parish.</p>
                      <a href="{{ site.baseurl }}/announcement/2020/jesus-christ-charge-for-new-year-to-parish" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/father-david-jones-30-anniversary">
                      <h3>Father Jones' 30<sup>th</sup> Anniversary</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/father-david-jones-eucharist.jpg" alt="Father Jones with bread and wine in front of Catholic altar with deacon and priest on sides">
                    </a>
                      <h4>December 15, 2019</h4>
                        <p>Today is the 30<sup>th</sup> anniversary of the ordination of Father David Jones. He was born on November 17, 1962 and ordained on December 15, 1989. His loving parents and supportive family helped to place him on a path toward God. This intention must have already been in his soul because it was apparent in him at a very early age.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/father-david-jones-30-anniversary" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/tanzania-orphanage-donation-from-st-benedict-african">
                      <h3>Extending the church to Tanzania</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/tanzania-orphanage-house.jpg" alt="Picture from the outside of gated orphanage house in Tanzania">
                    </a>
                      <h4>November 30, 2019</h4>
                        <p>As part of the Saint Benedict the African family, Father Jonathan Hill's work with an orphanage in Kilwa Masoko, Tanzania has been supported with $3,000 from the parish.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/tanzania-orphanage-donation-from-st-benedict-african" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

        </div>
    </div>

    <div class="item">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/prayer-for-father-augustus-tolton-ambassadors">
                      <h3>Prayer for Tolton Ambassadors</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/augustus-tolton-ambassadors-at-mass.jpg" alt="row of seated members of Catholic dressed in black with red sash during Mass">
                    </a>
                      <h4>July 28, 2019</h4>
                        <p>Tolton ambassadors from across the country celebrated Mass today with the Saint Benedict the African community.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/prayer-for-father-augustus-tolton-ambassadors" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/father-jonathan-hill-mass">
                      <h3>Sent Forth: Father Jonathan Hill</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/father-hill-homily.jpeg" alt="Standing Father Hill at pulpit ambo speaking to crowd">
                    </a>
                      <h4>June 30, 2019</h4>
                        <p>The Saint Benedict the African family congratulates Father Jonathan Hill as he celebrated Mass today for the first time as a priest at our church.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/father-jonathan-hill-mass" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/kemi-jeremiah-first-communion">
                      <h3>Kemi and Jeremiah's First Communion</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/first-communion-2019-bringing-gifts.jpg" alt="Two children bringing up the bread and wine during Mass">
                    </a>
                      <h4>June 23, 2019</h4>
                        <p>Jeremiah and Kemi celebrated their First Communion on the Feast of the Most Holy Body and Blood of Christ.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/kemi-jeremiah-first-communion" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

        </div>
    </div>


    <div class="item">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/holy-week-sba">
                      <h3>Another Eventful Holy Week</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/holy-saturday-candle-2019.jpg" alt="Crowd of parishioners outside of church lighting large candle at night">
                    </a>
                      <h4>April 22, 2019</h4>
                        <p>Following Palm Sunday, Saint Benedict the African started its Holy Week celebrations on Wednesday with the Tenebrae Service.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/holy-week-sba" class="btn btn-primary">Read more</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/mosaic-music-presentation-st-benedict-mass">
                      <h3>MOSAIC Performs to Crowd-Filled Audience</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/mosaic-sba2.jpeg" alt="Standing crowd applauding singers in front performing">
                    </a>
                      <h4>April 7, 2019</h4>
                        <p>SBA’s own Phillip Armstrong, as part of MOSAIC group, performed the St. Benedict the African original mass music.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/mosaic-music-presentation-st-benedict-mass" class="btn btn-primary">Read more</a>
                      <h5><a href="{{ site.baseurl }}/music" class="badge badge-default">Music</a></h5>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="{{ site.baseurl }}/announcement/2019/eisland-art-gallery-dedicated">
                      <h3>Eiland Art Gallery Dedicated by Bishop</h3>
                      <img class="center-block img-thumbnail" src="{{ site.baseurl }}/img/eiland-gallery1.jpeg" alt="Empty church hall displaying art potraits and pictures around walls">
                    </a>
                      <h4>April 7, 2019</h4>
                        <p>On the celebration of the feast day of Saint Benedict the African Bishop Perry dedicated the Ann and Arthur Eiland Art Gallery and Collection.</p>
                      <a href="{{ site.baseurl }}/announcement/2019/eisland-art-gallery-dedicated" class="btn btn-primary">Read more</a>
                      <h5><a href="{{ site.baseurl }}/art" class="badge badge-default">Art</a></h5>
                  </div>
                </div>
            </div>

        </div>
    </div>





    <div class="row">
      <div class="col-xs-6 bottom-buffer">
        <a class="carousel-control-prev" href="#ArticleID" role="button" data-slide="prev">
          <span class="fa fa-chevron-left fa-3x pull-right" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="col-xs-6">    
        <a class="carousel-control-next" href="#ArticleID" role="button" data-slide="next">
          <span class="fa fa-chevron-right fa-3x pull-left" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  
  </div>
</div>