<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">History</h2>
                <hr class="light">
                <p class="text-faded">
                    Celebrating 25 years of the patronage of St. Benedict the African, this parish is the culmination of almost a decade of prayerful discernment during the 1980s of Roman Catholic presence in the Englewood neighborhood:  what it would look like, how it would evolve, what values it would incarnate through its faith community.
                </p>
                <a href="{{site.baseurl}}/about" class="btn btn-default btn-xl">Learn More</a>
            </div>
        </div>
    </div>
</section>