<section class="no-padding" id="church reopening">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/parishioner-reopening-guide.png" alt="pamphlet from Archdiocese of Chicago on tips for parishioners returning to church">
    </div>
	<div class="top-buffer text-center">
		<p>
			View the <a href="https://www.archchicago.org/documents/70111/2833001/Sacramental+Guidelines+for+Reopening_Sunday+and+Daily+Mass.pdf" target="_blank">Sacramental Guidelines for Reopening in Phase II</a> document from the Archdiocese of Chicagao for additional information. 
		</p>
	</div>
</section>