<section class="bg-dark" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
                <i class="far fa-envelope fa-5x wow bounceIn" data-wow-delay=".5s" style="color:white"></i>
                <p>Saint Benedict the African Parish
                <br>340 W 66th Street
                <br>Chicago, IL 60621
                <br>773-873-4464
                <br><a href="mailto:SBAparish@aol.com"> SBApa<span class="hide">null</span>rish<span class="hide">null</span>@aol<span class="hide">null</span>.com</a>
                <br>
                <br><a href="https://www.instagram.com/sbaparish" target="_blank"><span class="fab fa-instagram fa-3x wow flash" data-wow-delay="1s"></span></a>
                </p>
            </div>
        </div>
    </div>
</section>