<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Daily Readings</h2>
            <hr>
        </div>
    </div>
</div>


<div id="daily-reading" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">


    <div class="item active">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070320.cfm" target="_blank">
                      <h3>Feast of Saint Thomas, Apostle</h3>
                    </a>
                      <h4>July 3, 2020</h4>
					  <p>EPH 2:19-22; Psalm 117:1BC, 2; JN 20:24-29</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070420.cfm" target="_blank">
                      <h3>Saturday of the Thirteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>July 4, 2020</h4>
					  <p>AM 9:11-15; Psalm 85:9AB AND 10, 11-12, 13-14; MT 9:14-17</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070520.cfm" target="_blank">
                      <h3>Fourteenth Sunday in Ordinary Time</h3>
                    </a>
                      <h4>July 5, 2020</h4>
					  <p>ZEC 9:9-10; PS 145:1-2, 8-9, 10-11, 13-14; ROM 8:9, 11-13; MT 11:25-30</p>
                  </div>
                </div>
            </div>
        </div>
    </div>


    <div class="item">
        <div class="container">


            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070620.cfm" target="_blank">
                      <h3>Monday of the Fourteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>July 6, 2020</h4>
					  <p>HOS 2:16, 17C-18, 21-22; Psalm 145:2-3, 4-5, 6-7, 8-9; MT 9:18-26</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070720.cfm" target="_blank">
                      <h3>Tuesday of the Fourteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>July 7, 2020</h4>
					  <p>HOS 8:4-7, 11-13; Psalm 115:3-4, 5-6, 7AB-8, 9-1; MT 9:32-38</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/070820.cfm" target="_blank">
                      <h3>Wednesday of the Fourteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>July 8, 2020</h4>
					  <p>HOS 10:1-3, 7-8, 12; Psalm 105:2-3, 4-5, 6-7; MT 10:1-7</p>
                  </div>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
      <div class="col-xs-6 bottom-buffer">
        <a class="carousel-control-prev" href="#daily-reading" role="button" data-slide="prev">
          <span class="fa fa-chevron-left fa-3x pull-right" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="col-xs-6">    
        <a class="carousel-control-next" href="#daily-reading" role="button" data-slide="next">
          <span class="fa fa-chevron-right fa-3x pull-left" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  
  </div>
</div>