<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Daily Readings</h2>
            <hr>
        </div>
    </div>
</div>


<div id="daily-reading" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">


    <div class="item active">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/051920.cfm" target="_blank">
                      <h3>Tuesday of the Sixth Week of Easter</h3>
                    </a>
                      <h4>May 19, 2020</h4>
					  <p>ACTS 16:22-34; Psalm 138:1-2AB, 2CDE-3, 7C-8; JN 16:5-11</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/052020.cfm" target="_blank">
                      <h3>Wednesday of the Sixth Week of Easter</h3>
                    </a>
                      <h4>May 20, 2020</h4>
					  <p>ACTS 17:15, 22—18:1; Psalm 148:1-2, 11-12, 13, 14; JN 16:12-15</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/052120.cfm" target="_blank">
                      <h3>Thursday of the Sixth Week of Easter</h3>
                    </a>
                      <h4>May 21, 2020</h4>
					  <p>Acts 18:1-8; Ps 98:1, 2-3ab, 3cd-4; John 16:16-20</p>
                  </div>
                </div>
            </div>

        </div>
    </div>


    <div class="item">
        <div class="container">

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/052220.cfm" target="_blank">
                      <h3>Friday of the Sixth Week of Easter</h3>
                    </a>
                      <h4>May 22, 2020</h4>
					  <p>ACTS 18:9-18; Psalm 47:2-3, 4-5, 6-7; JN 16:20-23</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://www.usccb.org/bible/readings/052320.cfm" target="_blank">
                      <h3>Saturday of the Sixth Week of Easter</h3>
                    </a>
                      <h4>May 23, 2020</h4>
					  <p>ACTS 18:23-28; Psalm 47:2-3, 8-9, 10; JN 16:23B-28</p>
                  </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="http://cms.usccb.org/bible/readings/052420-ascension.cfm" target="_blank">
                      <h3>The Ascension of the Lord</h3>
                    </a>
                      <h4>May 24, 2020</h4>
					  <p>ACTS 1:1-11; PS 47:2-3, 6-7, 8-9; EPH 1:17-23; MT 28:16-20</p>
                  </div>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
      <div class="col-xs-6 bottom-buffer">
        <a class="carousel-control-prev" href="#daily-reading" role="button" data-slide="prev">
          <span class="fa fa-chevron-left fa-3x pull-right" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="col-xs-6">    
        <a class="carousel-control-next" href="#daily-reading" role="button" data-slide="next">
          <span class="fa fa-chevron-right fa-3x pull-left" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  
  </div>
</div>