<div class="container top-buffer">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Daily Readings</h2>
            <hr>
        </div>
    </div>
</div>


<div id="daily-reading" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">


    <div class="item active">
		
        <div class="container">
			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081220.cfm" target="_blank">
                      <h3>Wednesday of the Nineteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>August 12, 2020</h4>
					  <p>EZ 9:1-7; 10:18-22; PS 113:1-2, 3-4, 5-6; MT 18:15-20</p>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081320.cfm" target="_blank">
                      <h3>Thursday of the Nineteenth Week in Ordinary Time</h3>
                    </a>
                      <h4>August 13, 2020</h4>
					  <p>EZ 12:1-12; PS 78:56-57, 58-59, 61-62; MT 18:21–19:1</p>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081420.cfm" target="_blank">
                      <h3>Memorial of Saint Maximilian Kolbe, Priest and Martyr</h3>
                    </a>
                      <h4>August 14, 2020</h4>
					  <p>EZ 16:1-15, 60, 63 Or EZ 16:59-63; ISAIAH 12:2-3, 4BCD, 5-6; MT 19:3-12</p>
                  </div>
                </div>
            </div>


        </div>
    </div>

    <div class="item">
		
        <div class="container">
			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081520-day.cfm" target="_blank">
                      <h3>Solemnity of the Assumption of the Blessed Virgin Mary</h3>
                    </a>
                      <h4>August 15, 2020</h4>
					  <p>RV 11:19A; 12:1-6A, 10AB; PS 45:10, 11, 12, 16; 1 COR 15:20-27; LK 1:39-56</p>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081620.cfm" target="_blank">
                      <h3>Twentieth Sunday in Ordinary Time</h3>
                    </a>
                      <h4>August 16, 2020</h4>
					  <p>IS 56:1, 6-7; PS 67:2-3, 5, 6, 8; ROM 11:13-15, 29-32; MT 15:21-28</p>
                  </div>
                </div>
            </div>

			<div class="col-sm-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <a href="https://bible.usccb.org/bible/readings/081720.cfm" target="_blank">
                      <h3>Monday of the Twentieth Week in Ordinary Time</h3>
                    </a>
                      <h4>August 17, 2020</h4>
					  <p>EZ 24:15-23; DEUTERONOMY 32:18-19, 20, 21; MT 19:16-22</p>
                  </div>
                </div>
            </div>


        </div>
    </div>


    <div class="row">
      <div class="col-xs-6 bottom-buffer">
        <a class="carousel-control-prev" href="#daily-reading" role="button" data-slide="prev">
          <span class="fa fa-chevron-left fa-3x pull-right" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
      <div class="col-xs-6">    
        <a class="carousel-control-next" href="#daily-reading" role="button" data-slide="next">
          <span class="fa fa-chevron-right fa-3x pull-left" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  
  </div>
</div>