<section class="no-padding">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/joe-winfield-sr.jpg" alt="Family picture of deceased Joe Winfield">
    </div>
</section>

<section class="bg-primary bottom-buffer" >
    <div class="container">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Joseph (Joe) A. Winfield, Sr.</h2>
				<hr class="light">
				<p>
					We, the family of Joseph (Joe) A. Winfield, announce his passing on to Glory as of December 5, 2020. Thank you for your calls, texts, postings and prayers of encouragement, comfort and support; they are needed and much appreciated! The Public Viewing for Joseph (Joe) A. Winfield, Sr. will be at:
					<br>
					<b>Calahan Funeral Home, Inc .
7030 South Halsted
Chicago, IL 60621</b>
					<br>
					<b>Saturday, December 12, 2020</b>
					<br>
					<b>3:00pm- 5:00pm</b>
				</p>
				<p>Please wear masks and practice social distancing. Thank you</p>
			</div>
        </div>
    </div>
</section>
