<section class="no-padding" id="art">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/joe-winfield-sr.jpg" alt="Joe Winfield Sr. picture with family">
    </div>
</section>

<section class="bg-primary bottom-buffer" >
    <div class="container">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Mass of Christian Burial for Joe Winfield Sr.</h2>
				<hr class="light">
				<p>
					<b>Monday, December 14th at 10 AM</b>
					<br>
					<b>Phone: 312-626-6799</b>
					<br>
					<b>Meeting ID: 895 9798 4436</b>
					<br>
					<b>Passcode: 950 140</b>
					<br>
					<b><a href="https://us02web.zoom.us/j/89597984436?pwd=VUdvY0Vqc29DamhvU1VyYUZURWlhdz09" class="text-light bg-primary" target="_blank">Zoom Link</a></b>
				</p>
			</div>
        </div>
    </div>
</section>


COPY PASTED INFO FOR ZOOM INFO



<section class="bg-primary bottom-buffer" >
    <div class="container">
        <div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Zoom Info</h2>
				<hr class="light">
				<p>
					<b>Phone: 312-626-6799</b>
					<br>
					<b>Meeting ID: 894 1589 5742</b>
					<br>
					<b>Passcode: 636 489</b>
					<br>
					<b><a href="https://bit.ly/SBAChicago" class="text-light bg-primary" target="_blank">https://bit.ly/SBAChicago</a></b>
				</p>
			</div>
        </div>
    </div>
</section>