<section  id="about">
    <div class="container">
		<h2 class="text-info text-center"><i>"You should take care of your church like you take care of your home. Your church is God's home and He lives in us."</i></h2>
		<br>
		<p class="text-info text-right">-Mrs. Rowell, Parishioner</p>
		<hr class="primary">
		<p class="text-center text-info">
			See how you can contribute to keep the mission of the parish going
		</p>
		<div class="text-center">
        	<a href="{{site.baseurl}}/contribute"  class="btn btn-primary btn-xl wow tada">Donate Now</a>
		</div>
    </div>
</section>