<section class="bg-info" id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr>
                <p>
                    Supporting, celebrating, and encouraging young artists within the greater Chicago land area.
                </p>
                <a href="https://www.givecentral.org/location/69/event/2871" target="_blank" class="btn btn-default btn-xl">Donate Now</a>
            </div>
        </div>
    </div>
</section>