<div class="container py-5 text-center border-bottom">
		<h2 class="text-info"><i>"You should take care of your church like you take care of your home. Your church is God's home and He lives in us."</i></h2>
		<br>
		<p class="text-info">-Mrs. Rowell, Parishioner</p>
        <hr class="mx-auto primary">
		<p class="text-info">See how you can help care for our parish home</p>
		<div>
        	<a href="{{site.baseurl}}/contribute"  class="btn btn-primary btn-xl wow tada">Donate Now</a>
		</div>
</div>