<section class="no-padding" id="featured">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/eucharist-wine-on-altar.png" alt="Priest hands over altar with bread, wine, and many Eucharist pyx">
        <div class="text_over_image">
            <h2 class="text-primary">Virtual Holy Week</h2>
            <hr>
			<p class="text-primary">Keeping Communion</p>
            <a href="{{site.baseurl}}/announcement/2020/holy-week-recap-montage"  class="btn btn-primary btn-xl wow tada">Read Now</a>
        </div>
    </div>
</section>
