<section class="no-padding" id="featured">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/jesus-cross-crucified.jpg" alt="Black Jesus crucified on the wooden cross">
        <div class="text_over_image">
            <h2 class="text-light">The Peace of Christ</h2>
            <hr class="light">
			<p class="text-light">Loving God, Not Hate</p>
            <a href="{{site.baseurl}}/adult-faith-formation/pentecost-rise-up-church-god-showing-up-to-breathe-peace"  class="btn btn-default btn-xl wow tada">Read Now</a>
        </div>
    </div>
</section>