<section class="no-padding" id="featured">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/negro-history-week-st-augustine-school-oblate-sisters.jpg" alt="February 21, 1946 black and white file photo of students at St. Augustine School in Washington, led by the Oblate Sisters of Providence, participate in Negro History Week; the precursor to Black History Month">
        <div class="text_over_image">
            <h2 class="text-primary">Black history is Catholic history</h2>
            <hr>
            <a href="{{site.baseurl}}/announcement/2020/black-history-is-catholic-history"  class="btn btn-primary btn-xl wow tada">Read Now</a>
        </div>
    </div>
</section>
