<div class="container my-3">
	<div class="row">
		<div class="col-lg-6 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-spelman-glee.png" alt="Spelman Glee club flyer">
		</div>
		<div class="col-lg-6 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-housing.png" alt="housing flyer">
		</div>
		<div class="col-lg-6 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-dementia.jpg" alt="dementia flyer">
		</div>
	</div>
</div>