<section class="no-padding" id="music">
    <img src="{{ site.baseurl }}/img/choir-easter-2019.jpg" class="img-responsive" alt="SBA choir">
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Music at St. Benedict the African</h2>
            <a href="{{site.baseurl}}/music"  class="btn btn-default btn-xl wow tada" alt="Church choir leads clapping praise for Easter Sunday">Learn More</a>
        </div>
    </div>
</aside>