<section class="no-padding" id="art">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/holy-family-wood-carving-2.jpeg" alt="Holy family wood sculpture of Joseph embracing Mary who is embracing the child Jesus.">
        <div class="text_over_image">
            <h2>Artwork</h2>
            <hr>
            <div class="container">
                <p>Exquisite works of art reflect black spirituality to inspire worship</p>
            </div>
            <a href="{{site.baseurl}}/art"  class="btn btn-default btn-xl wow tada">View Now</a>
        </div>
    </div>
</section>