<section class="no-padding" id="art">
    <div class="wrap">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/saint-benedict-african-stained-glass.jpeg" alt="Colored stained glassed church window of saint Benedict the African with heart">
        <div class="text_over_image">
            <h2>Artwork</h2>
            <hr class="light">
            <div class="container">
                <p>Exquisite works of art reflect black spirituality to inspire worship</p>
            </div>
            <a href="{{site.baseurl}}/art"  class="btn btn-default btn-xl wow tada">View Now</a>
        </div>
    </div>
</section>