<div class="px-3 py-5 bg-warning">
	<div class="row">
		<div class="col-12 text-center">
			<h2>History</h2>
			<hr class="mx-auto">
			<p>
				Celebrating 30 years of the new building, many more of the patronage of St. Benedict the African in Chicago. This parish is the culmination of almost a decade of prayerful discernment during the 1980s of Roman Catholic presence in the Englewood neighborhood:  what it would look like, how it would evolve, what values it would incarnate through its faith community.
			</p>
			<a href="{{site.baseurl}}/about" class="btn btn-default btn-xl">Learn More</a>
		</div>
	</div>
</div>