<nav id="mainNav" class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
		<a class="navbar-brand page-scroll text-uppercase" href="{{site.url}}">St. Benedict the African</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1" aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


        <div class="collapse navbar-collapse" id="navbarToggler1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/about" class="page-scroll">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/announcement" class="page-scroll">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}/englewood" class="page-scroll">Englewood</a>
                </li>
				<li class="nav-item text-danger">
                    <a class="nav-link" href="{{site.baseurl}}/contribute" class="page-scroll">Contribute</a>
                </li>
            </ul>
        </div>
    </div>
</nav>