
<div class="container my-3">
	<div class="row">
		<div class="col-lg-4 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-ecumenism.jpeg" alt="ecumenism flyer">
		</div>
		<div class="col-lg-4 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-grief-workshop.png" alt="grief flyer">
		</div>
		<div class="col-lg-4 col-sm-12 my-1">
			<img class="img-fluid " src="{{ site.baseurl }}/img/flyer-maryknoll.png" alt="maryknoll flyer">
		</div>
	</div>
</div>

<div class="bg-dark px-3 py-5">
	<div class="row">
		<div class="col-12 text-center">
			<h2>Zoom Info</h2>
            <hr class="light mx-auto">
			<p>For most Zoom sessions led by St. Benedict the African you will need the following information. External and special Zoom events will require different login information. Please refer to the event's instruction for further details.</p>
			<p>
				<b>Link: <a href="https://bit.ly/3Yc2lca" class="text-decoration-none" target="_blank">https://bit.ly/3Yc2lca</a></b>
				<br>
				<b>Meeting ID: 868 9411 0061</b>
				<br>
				<b>Passcode: 722 722</b>
				<br>
				<b>Call Number: 312-626-6799</b>
			</p>
		</div>
	</div>
</div>