<section class="no-padding" id="art">
  <div id="portpholio" class="carousel slide" data-ride="carousel" data-interval="3500">
    <div class="carousel-inner image">
  
      <div class="item active">
        <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/mary-holding-dead-jesus-tanzania-artist-wooden-statue.jpg" alt="Wooden statue sculpture of Mary holding Jesus after crucifixion made by artist in Tanzania.">
        <div class="credit-top">Photo by Lauren</div>
      </div>
  
      <div class="item">
          <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/wood-carving-jesus-birth-crucifixion-angels-saints.jpg" alt="Wood stature carving of Jesus' birth and crucifixion with holy family at the bottom and angels, saints, and cross on top">
          <div class="credit-top">Photo by Lauren</div>
      </div>
      
      <div class="item">
          <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/wooden-crucifix-with-jesus.jpg" alt="Wooden crucifix with Jesus.">
          <div class="credit-top">Photo by Lauren</div>
      </div>
      
      <div class="item">
          <img class="img-fluid cutoff-bottom" src="{{ site.baseurl }}/img/stained-glass-cross.jpg" alt="Stained glass window of crucifix features Living Cross with wooden beams and heart at center.">
          <div class="credit-top">Photo by Lauren</div>
      </div>

    </div>
  </div>
</section>