<section class="no-padding" id="portfolio">
  <div id="portpholio" class="carousel slide" data-ride="carousel" data-interval="3500">
    <div class="carousel-inner">
  
      <div class="item active">
        <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/1.jpg" style="width: 100%">
      </div>
  
      <div class="item">
          <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/2.jpg" style="width: 100%">
      </div>
      
      <div class="item">
          <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/3.jpg" style="width: 100%">
      </div>
      
      <div class="item">
          <img class="img-fluid" src="{{ site.baseurl }}/img/portfolio/4.jpg" style="width: 100%">
      </div>

    </div>
  </div>
</section>