<section class="bg-primary" id="pray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Prayer Requests</h2>
                <hr class="light">
                <p class="text-faded">
                    As we strive to pray as a community before our heavenly Father, we are now collecting prayer requests online to be included in our upcoming Sunday Mass. Please submit your prayer intentions weekly using the following form.
                </p>
                <a href="{{site.baseurl}}/prayers" class="btn btn-default btn-xl wow tada">Fill Out Form</a>
            </div>
        </div>
    </div>
</section>