<div class="panel panel-default top-buffer">
    <div class="panel-body">
        <div class="col-sm-4" align="center">
            <a href="{{ site.baseurl }}/about/sacrament"><img src="{{ site.baseurl }}/img/altar-closeup.jpeg" alt="Altar closeup with eucharist and tapestry in background" class="img img-responsive full-width"></a>
        </div>
        <div class="col-sm-8">
            <h3><a href="{{ site.baseurl }}/about/sacrament">Sacraments</a></h3>
            <p>Christ instituted the sacraments of the new law. There are seven: Baptism, Confirmation (or Chrismation), the Eucharist, Penance, the Anointing of the Sick, Holy Orders and Matrimony. The seven sacraments touch all the stages and all the important moments of Christian life: they give birth and increase, healing and mission to the Christian's life of faith. There is thus a certain resemblance between the stages of natural life and the stages of the spiritual life.</p>
        </div>
    </div>
</div>