<!-- jQuery -->
<script src="{{site.baseurl}}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<!-- <script src="{{site.baseurl}}/js/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<!-- Masonry -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<!-- Plugin JavaScript -->
<script src="{{site.baseurl}}/js/jquery.easing.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.fittext.js"></script>
<script src="{{site.baseurl}}/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/js/creative.js"></script>

<!-- BaguetteBox Image gallery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>