<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Work</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Ministers of Care</h3>
                    <p class="text-muted">
                        This group of dedicated parishioners does the important work of extending the Eucharist from the Sunday gathering to the homes of those who are ill and unable to join the faith community. 
                        This ministry keeps our homebound parishioners connected to us, reflecting more completely the Body of Christ that we strive to be. 
                        The homebound serve the larger faith community by their prayer for us and with us.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Knights of Peter Claver, Ladies Auxiliary, Junior Knights, and Junior Daughters</h3>
                    <p class="text-muted">
                        This group belongs to a country wide group of black Catholics who seek to embody the spirit of St. Peter Claver in living their faith. Members bring the African American church history to life at St. Benedict the African Parish. Filled with strong individual members who can unite as a council and court, these ladies and gentleman can make or break a parish. 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Council of Catholic Women</h3>
                    <p class="text-muted">
                        The Catholic Council of Women connects us to the work of Catholic women in the Archdiocese of Chicago and reminds us of the ladies who brought us this far by faith. Currently exploring models of tithing, this group constantly looks for ways to assist with the spiritual development of each of its members in order to insure that our base is always rooted in faith.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Youth and Young Adults</h3>
                    <p class="text-muted">
                        A class of babies came to life as we were planning the future.  This undeniable sign made it clairvoyant to focus on families passing on the faith as we imagine our long term future. With the merged parish comes a healthy number of teens and collegians, (who are connected to the elusive young people who may not show up on Sundays), who will energize the need for religious education, formation, faith development and community building activities.   Clearly this is a parish that functions around baptism and growing in the Spirit.   While this parish has a glorious past, it has a refulgent future.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>