<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
	<div class="bg-dark text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<img class="img-fluid" src="{{ site.baseurl }}/img/eiland-art-poster.jpeg" alt="Poster art of Eilands.">
				</div>
				<div class="col-lg-6 col-sm-12 p-5">
					<h2 class="text-center">Support Today</h2>
					<hr class="mx-auto">
					<p>The Ann and Arthur Eiland Art Gallery and Collection continues the long standing work of the church that promotes the arts and values the artists as a necessary part of the community. It honors the thirty-year history of St. Benedict the African parish commissioning and collecting works of art.</p>
					<p class="text-center">
						<a href="https://pushpay.com/g/stbenedicttheafrican?r=no&fnd=Ann%20%26%20Arthur%20Eiland%20Art%20Gallery&fndv=lock" target="_blank" class="btn btn-primary btn-sm wow tada">Donate Here</a>
					</p>

				</div>
			</div>
		</div>
	</div>

	<div class="bg-white text-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<img class="img-fluid" src="{{ site.baseurl }}/img/lent2024.png" alt="lent flyer">
				</div>
				<div class="col-lg-6 col-sm-12 p-5">
					<img class="img-fluid" src="{{ site.baseurl }}/img/lent20242.png" alt="lent schedule">
				</div>
			</div>
		</div>
	</div>


  {% include new.html %}
  {% include featured.html %}
  {% include front-art.html %}
  {% include front-music.html %}
  {% include daily-readings.html %}

  {% include donate.html %}
  {% include pray.html %}
  {% include ads.html %}

  {% include history.html %}
  {% include contact.html %}

  {% include scripts.html %}
</body>

</html>
