<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include new.html %}
  {% include featured.html %}
  {% include aff-dropdown-all.html %}
  {% include covid-prayer.html %}
  {% include donate.html %}
  {% include front-art.html %}
  {% include daily-readings.html %}
  {% include history.html %}
  {% include front-music.html %}

  {% include ads.html %}
  {% include ig-banner.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
