<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
	<div class="bg-danger text-center">
		<div class="container">	
			<h2>REMINDER:<small class>There is only one Mass at 10 AM for this Sunday, Epiphany of the Lord</small></h2>
		</div>
	</div>
  {% include new.html %}
  {% include carousel-img.html %}
  {% include featured.html %}
  {% include front-art.html %}
  {% include front-music.html %}
  {% include daily-readings.html %}

  {% include donate.html %}
  {% include pray.html %}
  {% include ads.html %}

  {% include history.html %}
  {% include contact.html %}

  {% include scripts.html %}
</body>

</html>
