<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}
  
  <div class="jumbotron"  style="background-image: url( {{ site.baseurl }}/img/{{ page.jumbotron-image }} ); background-size: auto 100%;">
    <div class="container">
      <span class="text-primary"><h1>{{ page.title }}</h1></span>
    </div>
  </div>
  
  <div class="container">
      <div class="panel-body">{{ content }}</div>
  </div>
  
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>