<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

<section class="no-padding">
    <div class="wrap">
        <img src="{{ site.baseurl }}/img/{{ page.image }}" class="img-fluid cutoff-bottom" alt="post image">
        <div class="text_over_image_low">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

{% if page.title contains "Announcements" or page.title contains "About" %}
<section class="no-padding"></section>
{% endif %}

  <div class="container">
    <div class="panel-body">
      {{ content }}
    </div>
  </div>
  {% include ig-banner.html %}
  {% include donate.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
