<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

<section class="no-padding">
  <img src="{{ site.baseurl }}/img/{{ page.image }}" class="img-fluid cutoff-bottom" alt="post image"> 
</section>
  <div class="container bottom-buffer">
    <div class="panel-body">
      <h1>{{ page.title }}</h1>
      <h3>{{ page.subtitle }}</h3>
      <h3 class="bottom-buffer">{{ page.post-date | date: '%B %-d, %Y'}}</h3>
      {{ content }}
    </div>
  </div>
  {% include aff-dropdown-all.html %}
  
  {% if page.tags contains "article" %}
    {% include articles.html %}
  {% endif %}


  {% include featured.html %}

	
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>